﻿@model IEnumerable<DailyBasket.Warehouse.Core.Model.WebApp.TieupModel>
@using DailyBasket.Warehouse.Core.Enum;
@{
    ViewBag.Title = "Update Tieup Slider";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header text-center">
    <h1>Tieup Section</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            @if (TempData["Message"] != null)
            {
                <div class="col-lg-12 text-center">
                    <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                </div>
            }
            <div class="box box-warning">
                <div class="clearfix"></div>

                @if (Model != null || Model.Any())
                {

                    foreach (var tieupslider in Model)
                    {

                        <div class="form-group">
                            @using (Html.BeginForm("UpdateTieupSlider", "Tieup", FormMethod.Post, htmlAttributes: new { @enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="col-lg-4">
                                    <div class="small-box bg-aqua">
                                        @Html.Hidden("TieupId", tieupslider.TieupId)
                                        @Html.Hidden("TieupImagePath", tieupslider.TieupImage)
                                        @Html.Hidden("Status", tieupslider.Status)
                                        <button type="button" style="display:none;" class="closeBtn" onclick="closebtn('@(tieupslider.TieupId)');" id="close@(tieupslider.TieupId)" onclick="resetSlider('@(tieupslider.TieupId)');">X</button>

                                        <img id='img@(tieupslider.TieupId)' src='@(HttpContext.Current.Application["ImageAccessPath"].ToString() + tieupslider.TieupImage)' class="img-responsive" style="min-height:131px;" />
                                        <div class="col-sm-7">
                                            <p id="edit@(tieupslider.TieupId)" onclick="upBtnToggle('@(tieupslider.TieupId)')" class="small-box-footer btn btn-sm btn-primary">
                                                Change Image&nbsp;&nbsp;&nbsp;&nbsp;
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </p>
                                            <p style="display:none" id="save@(tieupslider.TieupId)" class="small-box-footer  btn btn-sm btn-success">
                                                <button class="btn">Save Slider Image&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                                <i class="fa fa-floppy-o"></i>
                                            </p>
                                        </div>
                                        <div class="col-sm-5">
                                            <a href="@Url.Action("UpdateTieupSliderStatus", "Tieup", new { @sliderId = tieupslider.TieupId, @status = tieupslider.Status })" class="small-box-footer btn btn-block btn-warning">
                                                @(tieupslider.Status == (uint)Status.Active ? "Deactivate" : "Activate" )
                                                &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-power-off"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="upload-btn-wrapper up" id="up@(tieupslider.TieupId)" style="display:none;">
                                        <input type="file" id="upip@(tieupslider.TieupId)" name="TieupImage" onchange="validateTieupSliderImage(this, '@(tieupslider.TieupId)');" />
                                        <span id="errorspan@(tieupslider.TieupId)" class="text-danger"></span>
                                    </div>
                                </div>
                            }
                        </div>

                    }

                <!-- /.box-body -->
                }
            </div>
            <!-- /.box -->

        </div>


        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>
@Scripts.Render("~/bundles/script/async/webapp/tieup/tieup-slider-validation")