﻿
<li class="treeview">
    <a href="#">
        <i class="fa fa-table"></i> <span>Product Master</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>Brand</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("AddBrand", "Brand", new { Area = "ProductMaster" })"><i class="fa fa-circle-o"></i> Add</a></li>
                <li><a href="@Url.Action("BrandList", "Brand", new { Area = "ProductMaster" })"><i class="fa fa-circle-o"></i> View</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>Vendor</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("AddVendor", "Vendor", new { Area = "ProductMaster" })"><i class="fa fa-circle-o"></i> Add</a></li>
                <li><a href="@Url.Action("VendorList", "Vendor", new { Area = "ProductMaster" })"><i class="fa fa-circle-o"></i> View</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>Main Category</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("AddMainCategory", "ProductCategory", new { Area = "ProductMaster" })"><i class="fa fa-circle-o"></i> Add</a></li>
                <li><a href="@Url.Action("MainCategoryList", "ProductCategory", new { Area = "ProductMaster" })"><i class="fa fa-circle-o"></i> View</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>SubCategory</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("AddSubCategory", "ProductCategory", new { Area = "ProductMaster" })"><i class="fa fa-circle-o"></i> Add</a></li>
                <li><a href="@Url.Action("SubCategoryList", "ProductCategory", new { Area = "ProductMaster" })"><i class="fa fa-circle-o"></i> View</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>Products</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li class="treeview">
                    <a href="@Url.Action("AddProductHsnNumber", "Product", new { Area = "ProductMaster" })"><i class="fa fa-circle-o"></i> Add HSN Number</a>
                    <a href="@Url.Action("AddProduct", "Product", new { Area = "ProductMaster" })"><i class="fa fa-circle-o"></i> Add Product</a>
                    <a href="@Url.Action("ProductList", "Product", new { Area = "ProductMaster" })"><i class="fa fa-circle-o"></i> View</a>
                </li>
            </ul>
        </li>

    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-table"></i> <span>Purchase Entry</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("AddPurchaseOrder", "PurchaseOrder", new { Area = "Purchase" })"><i class="fa fa-circle-o"></i> New Entry</a></li>
        <li><a href="@Url.Action("PendingPurchaseEntries", "PurchaseOrder", new { Area = "Purchase" })"><i class="fa fa-circle-o"></i> Pending Entries</a></li>
        <li><a href="@Url.Action("ViewPurchaseOrders", "PurchaseOrder", new { Area = "Purchase" })"><i class="fa fa-circle-o"></i> Purchase History</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-table"></i> <span>Stock</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("AvailableStocks", "StockProduct", new { Area = "Stock" })"><i class="fa fa-circle-o"></i> Products Stock</a></li>
        <li><a href="@Url.Action("BatchWiseProductStock", "StockProduct", new { Area = "Stock" })"><i class="fa fa-circle-o"></i> Batchwise Product Stock</a></li>
        <li><a href="@Url.Action("ViewExpiryWiseConvetableProducts", "StockProduct", new { Area = "Stock" })"><i class="fa fa-circle-o"></i> Convertable Products</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-table"></i> <span>Customer Orders</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("InProcessOrders", "CustomerOrders", new { Area = "Sale" })"><i class="fa fa-circle-o"></i> Pending Orders</a></li>
        <li><a href="@Url.Action("ReadyToDispatchOrders", "CustomerOrders", new { Area = "Sale" })"><i class="fa fa-circle-o"></i> Ready to Dispatch</a></li>
        <li><a href="@Url.Action("DispatchedOrders", "CustomerOrders", new { Area = "Sale" })"><i class="fa fa-circle-o"></i> Dispatched</a></li>
        <li><a href="@Url.Action("DeliveredOrders", "CustomerOrders", new { Area = "Sale" })"><i class="fa fa-circle-o"></i> Delivered</a></li>
        <li><a href="@Url.Action("CancelledOrders", "CustomerOrders", new { Area = "Sale" })"><i class="fa fa-circle-o"></i> Cancelled</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-table"></i> <span>Delivery</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("Create Trip", "Trip", new { Area = "Delivery" })"><i class="fa fa-circle-o"></i> Create Trip</a></li>
        <li><a href="@Url.Action("ViewTrips", "Trip", new { Area = "Delivery" })"><i class="fa fa-circle-o"></i> View Trips</a></li>
    </ul>
</li>

