﻿<li class="treeview">
    <a href="#">
        <i class="fa fa-table"></i> <span>Users</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>Warehouse Users</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("RegisterWarehouseUser", "WarehouseUser", new { Area = "Users" })"><i class="fa fa-circle-o"></i> Register</a></li>
                <li><a href="@Url.Action("WarehouseUserList", "WarehouseUser", new { Area = "Users" })"><i class="fa fa-circle-o"></i> View </a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>Online Customers</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("ActiveCustomers", "Customer", new { Area = "Users" })"><i class="fa fa-circle-o"></i> View </a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>Franchise Registration</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("RegisterWarehouseFranchise", "WarehouseUser", new { Area = "Users" })"><i class="fa fa-circle-o"></i> Register</a></li>
                <li><a href="@Url.Action("FranchiseeList", "WarehouseUser", new { Area = "Users" })"><i class="fa fa-circle-o"></i> View </a></li>
            </ul>
        </li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-table"></i> <span>Product Master</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>Brand</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("AddBrand", "Brand", new { Area = "ProductMaster" })"><i class="fa fa-circle-o"></i> Add</a></li>
                <li><a href="@Url.Action("BrandList", "Brand", new { Area = "ProductMaster" })"><i class="fa fa-circle-o"></i> View</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>Vendor</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("AddVendor", "Vendor", new { Area = "ProductMaster" })"><i class="fa fa-circle-o"></i> Add</a></li>
                <li><a href="@Url.Action("VendorList", "Vendor", new { Area = "ProductMaster" })"><i class="fa fa-circle-o"></i> View</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>Main Category</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("AddMainCategory", "ProductCategory", new { Area = "ProductMaster" })"><i class="fa fa-circle-o"></i> Add</a></li>
                <li><a href="@Url.Action("MainCategoryList", "ProductCategory", new { Area = "ProductMaster" })"><i class="fa fa-circle-o"></i> View</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>SubCategory</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("AddSubCategory", "ProductCategory", new { Area = "ProductMaster" })"><i class="fa fa-circle-o"></i> Add</a></li>
                <li><a href="@Url.Action("SubCategoryList", "ProductCategory", new { Area = "ProductMaster" })"><i class="fa fa-circle-o"></i> View</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>Products</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li class="treeview">
                    <a href="@Url.Action("AddProductHsnNumber", "Product", new { Area = "ProductMaster" })"><i class="fa fa-circle-o"></i> Add HSN Number</a>
                    <a href="@Url.Action("AddProduct", "Product", new { Area = "ProductMaster" })"><i class="fa fa-circle-o"></i> Add Product</a>
                    <a href="@Url.Action("ProductList", "Product", new { Area = "ProductMaster" })"><i class="fa fa-circle-o"></i> View</a>
                </li>
            </ul>
        </li>

    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-table"></i> <span>Purchase Entry</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("AddPurchaseOrder", "PurchaseOrder", new { Area = "Purchase" })"><i class="fa fa-circle-o"></i> New Entry</a></li>
        <li><a href="@Url.Action("PendingPurchaseEntries", "PurchaseOrder", new { Area = "Purchase" })"><i class="fa fa-circle-o"></i> Pending Entries</a></li>
        <li><a href="@Url.Action("ViewPurchaseOrders", "PurchaseOrder", new { Area = "Purchase" })"><i class="fa fa-circle-o"></i> Purchase History</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-table"></i> <span>Stock</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("AvailableStocks", "StockProduct", new { Area = "Stock" })"><i class="fa fa-circle-o"></i> Products Stock</a></li>
        <li><a href="@Url.Action("BatchWiseProductStock", "StockProduct", new { Area = "Stock" })"><i class="fa fa-circle-o"></i> Batchwise Product Stock</a></li>
        <li><a href="@Url.Action("ViewExpiryWiseConvetableProducts", "StockProduct", new { Area = "Stock" })"><i class="fa fa-circle-o"></i> Convertable Products</a></li>
        <li><a href="@Url.Action("ReorderProductsSystem", "StockProduct", new { Area = "Stock" })"><i class="fa fa-circle-o"></i> Reorder System</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-table"></i> <span>Customer Orders</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("InProcessOrders", "CustomerOrders", new { Area = "Sale" })"><i class="fa fa-circle-o"></i> Pending Orders</a></li>
        <li><a href="@Url.Action("ReadyToDispatchOrders", "CustomerOrders", new { Area = "Sale" })"><i class="fa fa-circle-o"></i> Ready to Dispatch</a></li>
        <li><a href="@Url.Action("DispatchedOrders", "CustomerOrders", new { Area = "Sale" })"><i class="fa fa-circle-o"></i> Dispatched</a></li>
        <li><a href="@Url.Action("DeliveredOrders", "CustomerOrders", new { Area = "Sale" })"><i class="fa fa-circle-o"></i> Delivered</a></li>
        <li><a href="@Url.Action("CancelledOrders", "CustomerOrders", new { Area = "Sale" })"><i class="fa fa-circle-o"></i> Cancelled</a></li>
    </ul>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-table"></i> <span>Franchisee Temperary Orders</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("FranchiseePurchaseOrders", "FranchiseeOrders", new { Area = "Sale" })"><i class="fa fa-circle-o"></i> Pending Orders</a></li>
        <li><a href="@Url.Action("FranchiseeOrdersHistory", "FranchiseeOrders", new { Area = "Sale" })"><i class="fa fa-circle-o"></i> Order History</a></li>
        <li><a href="@Url.Action("GenerateFranchiseeOrder", "FranchiseeOrders", new { Area = "Sale" })"><i class="fa fa-circle-o"></i> Generate Orders</a></li>
    </ul>
</li>

<li class="treeview">
    <a href="#">
        <i class="fa fa-table"></i> <span>Franchisee Orders</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("InProcessOrders", "FranchiseeOrders", new { Area = "Sale" })"><i class="fa fa-circle-o"></i> In Process Orders</a></li>
        <li><a href="@Url.Action("ReadyToDispatchOrders", "FranchiseeOrders", new { Area = "Sale" })"><i class="fa fa-circle-o"></i> Ready to Dispatch</a></li>
        <li><a href="@Url.Action("DispatchedOrders", "FranchiseeOrders", new { Area = "Sale" })"><i class="fa fa-circle-o"></i> Dispatched</a></li>
        <li><a href="@Url.Action("DeliveredOrders", "FranchiseeOrders", new { Area = "Sale" })"><i class="fa fa-circle-o"></i> Delivered</a></li>
        <li><a href="@Url.Action("CancelledOrders", "FranchiseeOrders", new { Area = "Sale" })"><i class="fa fa-circle-o"></i> Cancelled</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-table"></i> <span>Delivery</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li><a href="@Url.Action("CreateTrip", "Trip", new { Area = "Delivery" })"><i class="fa fa-circle-o"></i> Create Trip</a></li>
        <li><a href="@Url.Action("OnHoldDeliveryTrips", "Trip", new { Area = "Delivery" })"><i class="fa fa-circle-o"></i> View OnHold Trips</a></li>
        <li><a href="@Url.Action("TripsHistory", "Trip", new { Area = "Delivery" })"><i class="fa fa-circle-o"></i> View Trip History</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-table"></i> <span>Reports</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">

        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>Warehouse Reports</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("Purchase", "Purchase", new { Area = "Reports" })"><i class="fa fa-circle-o"></i> Purchase Report</a></li>
                <li><a href="@Url.Action("Sales", "Sale", new { Area = "Reports" })"><i class="fa fa-circle-o"></i> Sales Report</a></li>
                <li><a href="@Url.Action("Stock", "Stock", new { Area = "Reports" })"><i class="fa fa-circle-o"></i> Stock Report</a></li>
            </ul>
        </li>

        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>Franchisee Reports</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("FranchiseePurchase", "Purchase", new { Area = "Reports" })"><i class="fa fa-circle-o"></i> Purchase Report</a></li>
                <li><a href="@Url.Action("FranchiseeSales", "Sale", new { Area = "Reports" })"><i class="fa fa-circle-o"></i> Sales Report</a></li>
                <li><a href="@Url.Action("FranchiseeStock", "Stock", new { Area = "Reports" })"><i class="fa fa-circle-o"></i> Stock Report</a></li>
            </ul>
        </li>

    </ul>
</li>
<li class="treeview">
    <a href="#">
        <i class="fa fa-table"></i> <span>Web App</span>
        <i class="fa fa-angle-left pull-right"></i>
    </a>
    <ul class="treeview-menu">
        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>Sliders</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("UpdateWebSlider", "Slider", new { Area = "WebApp" })"><i class="fa fa-circle-o"></i> Website Slider</a></li>
                <li><a href="@Url.Action("UpdateAndroidSlider", "Slider", new { Area = "WebApp" })"><i class="fa fa-circle-o"></i> Android Slider </a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-table"></i> <span>Offers</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="@Url.Action("AddOffer", "Offers", new { Area = "WebApp" })"><i class="fa fa-circle-o"></i> Add New Offer</a></li>
                <li><a href="@Url.Action("ActiveOffers", "Offers", new { Area = "WebApp" })"><i class="fa fa-circle-o"></i> View </a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="@Url.Action("UpdateTieupSlider", "Tieup", new { Area = "WebApp" })">
                <i class="fa fa-table"></i>  <span> Tie Up   </span>
            </a>
        </li>
    </ul>
</li>
