﻿@model  DailyBasket.Warehouse.Core.Model.Purchase.FCPurchaseOrderModel 
@{
    ViewBag.Title = "GenerateFranchiseeOrder";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}


<section class="content-header text-center">
    <h1>Add Purchase Product Order</h1>
</section>
<!-- / Content Header (Page header) -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="clearfix"></div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Bill No.</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>@Model.Id</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Bill Date</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>@Model.OrderDate</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Franchisee Name :</label>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>@Model.FranchiseeName</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    @if (TempData["Message"] != null)
                    {
                        <div class="col-lg-12 text-center">
                            <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                        </div>
                    }
                    @using (Html.BeginForm("AddFranchiseeOrderProduct", "FranchiseeOrders", FormMethod.Post, htmlAttributes: new { @onsubmit = "return validateStockdata();" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        <div class="col-md-8">
                            <div class="form-group">
                                <div class="form-group">

                                    
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <div class="form-group">

                                    @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @class = "control-label" })

                                    @Html.TextBox("SelectProductId", null, htmlAttributes: new { @class = "form-control", @required = true, @placeholder = "Select Product Name" })
                                    @Html.DropDownListFor(model => model.ProductId, ViewBag.ProductDdlList != null ? ViewBag.ProductDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "Select Product Name", htmlAttributes: new { @class = "form-control hide-form-field" })
                                    @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @type = "number", @class = "form-control", @placeholder = "Enter Product Quantity", @required = "true", @onchange = "validateProductStock()" } })
                                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <br />
                            <input type="submit" name="submit" id="submit" value="Add Product" class="btn btn-block btn-primary btn-success" />
                        </div>
                        @*<div class="col-md-2">
                                <br />
                                <input type="submit" name="submit" id="submit" value="Submit Order" class="btn btn-block btn-primary btn-success" />
                            </div>*@
                        <div class="clearfix"></div>
                        <hr />
                    }

                    <section class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="box-body">
                                @using (Html.BeginForm("AddPurchaseOrderProduct", "FranchiseeOrders", FormMethod.Post))
                                {
                                    @Html.HiddenFor(model => model.Id)
                                    @Html.HiddenFor(model => model.FCUserId)
                                    @Html.HiddenFor(model => model.OrderDate)

                                        <table id="example2" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Sr. No</th>
                                                    <th>Product Name</th>
                                                    <th>Quantity</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody id="reloadsection">
                                                @if (Model.FranchisePOPModelList != null && Model.FranchisePOPModelList.Any())
                                                {

                                                    var index = 1;
                                                    foreach (var poprodDetails in Model.FranchisePOPModelList)
                                                    {
                                                        <tr>
                                                            <td>@(index++)</td>
                                                            <td hidden="hidden"><input type="hidden" name="ProductId[]" id="prodid[]" value=@poprodDetails.ProdId></td>
                                                            <td hidden="hidden"><input type="hidden" name="Quantity[]" id="quantity[]" value=@poprodDetails.FranchiseeQuantity></td>
                                                            <td>@poprodDetails.ProdName </td>
                                                            <td>@poprodDetails.FranchiseeQuantity 
                                                                @if (poprodDetails.APS != 0 && @poprodDetails.FranchiseeQuantity > @poprodDetails.APS)
                                                                {
                                                                    <span id=@index class="text-danger">Less Quantity</span>
                                                                }
                                                                else if (poprodDetails.APS == 0)
                                                                {
                                                                    <span id=@index class="text-danger">Out of Stock</span>
                                                                }
                                                            </td>

                                                            <td><a href="@Url.Action("DeleteFranchiseePurchaseProduct", "FranchiseeOrders", new { Area ="Sale", poId = Model.Id, @prodId = @poprodDetails.ProdId })" class="fa fa-trash-o btn-xs btn-danger" onclick="return confirm('Are you sure you want to delete this item?');" title="Delete" id="deleteProduct"></a></td>
                                                        </tr>
                                                    }
                                                    <tr>
                                                        <td colspan="5">
                                                            <div class="col-md-2 pull-right">
                                                                <input type="submit" name="submit" id="submit" value="Submit Order" class="btn btn-block btn-primary btn-success" />
                                                            </div>
                                                            </td>
                                                        </tr>
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="4"><label class="text-danger">No Record Found</label></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                                    
                                        }
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->

                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </section>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>
@Scripts.Render("~/bundles/script/async/productmaster/product-autopopulate-list-with-jquery")
<script>
    var jsonProductList = @Html.Raw(Json.Encode(@ViewBag.ProductDdlList));
    var status = true;
    function validateProductStock()
    {
        debugger;
        var prodid = $("#ProductId").val();
        var quantity = $("#Quantity").val();
        if (prodid !== '') {
            $.ajax({
                type: "get",
                url: window.location.origin + '/WebApi/Product/IsStockAvailable',
                dataType: 'json',
                data: { 'productId': prodid },
                success: function (data) {
                    debugger;
                    if (data > 0 && data >= quantity) { // It's already exists
                        $("#Quantity").next().html('');
                        status = true;
                    }
                    else if(data == 0){
                        $("#Quantity").next().html("Out of Stock");
                        status = false;
                    }
                    else {
                        $("#Quantity").next().text("Available Stock is "+ data);
                        status = false;
                    }
                },
                error: function (error) {
                    alert('error' + error);
                    status = false;
                }
            });
        }
        else {
            $('#ProductId').next().html('Product is required field.');
            status = false;
        }
    }

    function validateStockdata()
    {
        debugger;
        if(status == "false"){
            return false;
        }
        else{
            return true;
        }
    }

    function checkQuantity(fqty, wqty)
    {
        debugger;
        var fqtyid = "fqty" + fqty;
        var fquantity = $("#" + fqtyid).val();
        var wqty;
        if (fquantity > wqty || fquantity == 0)
        {
            $('#' + fqtyid).next().html('Please check available quantity');
            $('#' + fqtyid).val("");
        }
        else if(fquantity == '' || fquantity == 0)
        {
            $('#' + fqtyid).next().html('Quantity must be greater than 0');
        }
        else {
            $('#' + fqtyid).next().html('');
            $('#' + fqty).html('');
        }
    }
</script>


