﻿@model DailyBasket.Warehouse.Core.Model.Purchase.FCPurchaseOrderModel
@using DailyBasket.Warehouse.Core.Enum;
@{
    ViewBag.Title = "Customer Order";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header text-center">
    <h1><label>@ViewBag.PageTitle</label></h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-2 pull-right">
            @Html.Hidden("OrderStatus", (uint)Model.Status)
            @*<button id="printorder" class="btn btn-sm btn-block alert-info">Print</button>*@
        </div>

        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    @if (Model != null)
                    {
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th colspan="6" class="text-center">Order Details</th>
                                    @*<th colspan="2" class="text-center">Order&nbsp;Details</th>
                                        <th colspan="2" class="text-center">Payment&nbsp;Details</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Vendor&nbsp;Name</th>
                                    <td>@Model.VendorName</td>
                                    <th class="seperator-left">Order&nbsp;Id</th>
                                    <td class="seperator-right">@Model.Id</td>
                                    <th class="seperator-left">Order&nbsp;Date</th>
                                    <td class="seperator-right">@Model.OrderDate</td>
                                </tr>
                            </tbody>
                        </table>
                    }
                    <div class="clearfix"></div>
                    <hr />
                    <br />
                    @if (TempData["Message"] != null)
                    {
                        <div class="col-lg-12 text-center">
                            <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                        </div>
                    }


                    @using (Html.BeginForm("AddPurchaseOrder", "FranchiseeOrders", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        @Html.HiddenFor(model => model.FCUserId)
                        @Html.HiddenFor(model => model.OrderDate)
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Sr.No.</th>
                                    <th>Product Name</th>
                                    <th>Franchisee Quantity</th>
                                    <th>Warehouse Quantity</th>
                                    <th>Available Stock</th>
                                    <th>MRP</th>
                                    <th>Sale Rate</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    var index = 1;
                                    foreach (var Order in Model.FranchisePOPModelList)
                                    {
                                        <tr>
                                            <td>@(index++)</td>
                                            <td hidden ="hidden"><input type="hidden" name="ProductId[]" id="prodid[]" value=@Order.ProdId></td>
                                           @* <td hidden="hidden">@Html.HiddenFor(model=> model.ProductId+"["+@index+"]", new { htmlAttributes = new { @Value= Order.ProdId} })</td>
                                              <td hidden="hidden">@Html.Hidden("ProductId[" + @index + "]", new { htmlAttributes = new { @Value = Order.ProdId } })</td>*@
                                            <td>@Order.ProdName</td>
                                            <td>@Order.FranchiseeQuantity
                                                @if (Order.APS != 0 && @Order.FranchiseeQuantity > @Order.APS + @index)
                                                {
                                                    <span id=@index class="text-danger">Less Quantity</span>
                                                }
                                            </td>
                                            <td>
                                                @Html.Editor("Quantity[]", new { htmlAttributes = new { @class = "form-control", @required = true, @onkeyup= "checkQuantity("+@index+","+Order.APS+")", @id = "fqty"+ @index.ToString() } })
                                                @Html.ValidationMessage("Quantity[]", "", new { @class="text-danger", id = "fqty"+index })
                                            </td>
                                            <td>
                                                @if (Order.APS != 0)
                                                {
                                                    <span>@Order.APS</span>

                                                }
                                                else
                                                {  <span class="text-danger">Out of stock</span> }
                                            </td>
                                            <td><i class="fa fa-inr"></i> @Order.MRP</td>
                                            <td><i class="fa fa-inr"></i> @Order.OnlineSaleRateA</td>
                                            <td><a href="@Url.Action("DeletePurchaseProduct", "FranchiseeOrders", new { Area ="Sale", poId = Model.Id, @prodId = @Order.ProdId })" class="fa fa-trash-o btn-xs btn-danger" onclick="return confirm('Are you sure you want to delete this item?');" title="Delete" id="deleteProduct"></a></td>
                                        </tr>
                                    }
                                    
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6"><label class="text-danger">No Record Found</label></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="col-md-2 pull-right">
                            <input type="submit" value="Submit Order" class="btn btn-block btn-primary btn-primary" />
                        </div>
                    }
                    <br />
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@Scripts.Render("~/bundles/script/jQuery-2.2.0")

<script>
    
    function checkQuantity(fqty, wqty)
    {
        debugger;
        var fqtyid = "fqty" + fqty;
        var fquantity = $("#" + fqtyid).val();
        var wqty;
        if (fquantity > wqty || fquantity == 0)
        {
            $('#' + fqtyid).next().html('Please check available quantity');
            $('#' + fqtyid).val("");
        }
        else if(fquantity == '' || fquantity == 0)
        {
            $('#' + fqtyid).next().html('Quantity must be greater than 0');
        }
        else {
            $('#' + fqtyid).next().html('');
            $('#' + fqty).html('');
        }
    }
</script>