﻿@model IEnumerable<DailyBasket.Warehouse.Areas.Sale.Models.ViewModels.FranchiseeOrdersViewModels>

@{
    ViewBag.Title = "FranchiseeOrders";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header text-center">

    <h1> <label>Franchisee Temperary Orders</label></h1>

</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Sr.No.</th>
                                <th>Bill No.</th>
                                <th>Vendor Name</th>
                                <th>Order Date</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                var index = 1;
                                foreach (var order in Model)
                                {

                                    <tr>
                                        <td>@(index++) </td>
                                        <td>@order.Id</td>
                                        <td>@order.VendorName</td>
                                        <td>@order.OrderDate</td>
                                        <td class="text-center fontset">
                                            <a href="@Url.Action("AddPurchaseOrder", "FranchiseeOrders", new { Area = "Sale", @foId = order.Id })" id="ViewOrder" class="fa fa-eye btn-xs btn-info" title="View"></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6"><label class="text-danger">No Records Found</label></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

