﻿@model DailyBasket.Warehouse.Core.Model.Purchase.FCPurchaseOrderModel
@using DailyBasket.Warehouse.Core.Enum;
@{
    ViewBag.Title = "Customer Order";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header text-center">
    <h1><label>@ViewBag.PageTitle</label></h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-2 pull-right">
            @Html.Hidden("OrderStatus", (uint)Model.Status)
            <button id="printorder" class="btn btn-sm btn-block alert-info">Print</button>
        </div>

        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    @if (Model != null)
                    {
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th colspan="2" class="text-center">Franchisee&nbsp;Details</th>
                                    <th colspan="2" class="text-center">Order&nbsp;Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Customer&nbsp;Name</th>
                                    <td>@Model.FranchiseeName</td>
                                    <th class="seperator-left">Order&nbsp;Id / Refer. Order Id</th>
                                    <td class="seperator-right">@Model.PoId / @Model.Id</td>
                                </tr>
                                <tr>
                                    <th>Mobile&nbsp;No.</th>
                                    <td>@Model.Mobile</td>
                                    <th class="seperator-left">Order&nbsp;Date</th>
                                    <td class="seperator-right">@Model.OrderDate</td>
                                </tr>
                                <tr>
                                    <th>Email&nbsp;Id</th>
                                    <td>@Model.Email</td>
                                    <th class="seperator-left">Order&nbsp;Amount</th>
                                    <td class="seperator-right"><i class="fa fa-inr"></i> @Model.TotalBillAmount</td>
                                </tr>
                                <tr>
                                    <th>Address</th>
                                    <td colspan="5">
                                        @Model.Address, @Model.Address, @Model.City, @Model.State
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                    <div class="clearfix"></div>
                    <hr />
                    <br />
                    @if (TempData["Message"] != null)
                    {
                        <div class="col-lg-12 text-center">
                            <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                        </div>
                    }


                    @using (Html.BeginForm("ChangeCurrentOrderStatus", "FranchiseeOrders", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.PoId)
                        @Html.HiddenFor(model => model.Id)
                        if (Model.Status != OrderStatus.Delivered & Model.Status != OrderStatus.Cancelled)
                        {
                            <div class="col-sm-12">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.DropDownListFor(model => model.OrderStatusId, ViewBag.OrderStatusDdlList != null ? ViewBag.OrderStatusDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "Change Order Status", htmlAttributes: new { @class = "form-control", @required = true, @validatefor = "select" })
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <input type="submit" value="Change" class="btn btn-block btn-primary btn-primary" />
                                </div>
                            </div>

                        }

                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Sr.No.</th>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>MRP</th>
                                    <th>Sale Rate</th>
                                    <th>Total Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.FranchisePOPModelList.Any() || Model.FranchisePOPModelList.Count > 0)
                                {
                                    var index = 1;
                                    foreach (var Order in Model.FranchisePOPModelList)
                                    {
                                        <tr>
                                            <td>@(index++)</td>
                                            <td>@Order.ProdName</td>
                                            <td>@Order.FranchiseeQuantity</td>
                                            <td><i class="fa fa-inr"></i> @Order.MRP</td>
                                            <td><i class="fa fa-inr"></i> @Order.OnlineSaleRateA</td>
                                            <td><i class="fa fa-inr"></i> @Order.Total</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6"><label class="text-danger">No Record Found</label></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    <br />
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@Scripts.Render("~/bundles/script/sale/print-franchisee-orders")

