﻿@model DailyBasket.Warehouse.Core.Model.Purchase.FCPurchaseOrderModel
@using DailyBasket.Warehouse.Core.Enum;
@{
    ViewBag.Title = "Customer Order";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header text-center">
    <h1><label>@ViewBag.PageTitle</label></h1>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        

        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    @if (Model != null)
                    {
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th colspan="6" class="text-center">Order Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Vendor&nbsp;Name</th>
                                    <td>@Model.VendorName</td>
                                    <th class="seperator-left">Referrance Order&nbsp;Id</th>
                                    <td class="seperator-right">@Model.Id</td>
                                    <th class="seperator-left">Order&nbsp;Date</th>
                                    <td class="seperator-right">@Model.OrderDate</td>
                                </tr>
                            </tbody>
                        </table>
                    }
                    <div class="clearfix"></div>
                    <hr />
                    <br />
                    
                 <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Sr.No.</th>
                                    <th>Product Name</th>
                                    <th>Franchisee Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    var index = 1;
                                    foreach (var Order in Model.FranchisePOPModelList)
                                    {
                                        <tr>
                                            <td>@(index++)</td>
                                            <td>@Order.ProdName</td>
                                            <td>@Order.FranchiseeQuantity</td>
                                        </tr>
                                    }
                                    
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="6"><label class="text-danger">No Record Found</label></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        
                    <br />
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@Scripts.Render("~/bundles/script/jQuery-2.2.0")

<script>
    
    function checkQuantity(fqty, wqty)
    {
        debugger;
        var fqtyid = "fqty" + fqty;
        var fquantity = $("#" + fqtyid).val();
        var wqty;
        if (fquantity > wqty || fquantity == 0)
        {
            $('#' + fqtyid).next().html('Please check available quantity');
            $('#' + fqtyid).val("");
        }
        else if(fquantity == '' || fquantity == 0)
        {
            $('#' + fqtyid).next().html('Quantity must be greater than 0');
        }
        else {
            $('#' + fqtyid).next().html('');
            $('#' + fqty).html('');
        }
    }
</script>