﻿@model DailyBasket.Warehouse.Core.Model.Purchase.FCPurchaseOrderModel
@{
    ViewBag.Title = "Add Purchase Order";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}



<section class="content-header text-center">
    <h1>Add Purchase Order</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="clearfix"></div>
                <div class="box-body">
                    @if (TempData["Message"] != null)
                    {
                        <div class="col-lg-12 text-center">
                            <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                        </div>
                    }
                   @using (Html.BeginForm("GenerateFranchiseeOrder", "FranchiseeOrders", FormMethod.Post, htmlAttributes: new { @onsubmit = "return validateButton();" }))
                   {
                        @Html.AntiForgeryToken()
                       
                            
                           
                            <div class="col-md-offset-3 col-md-6">
                                <div class="form-group">
                                @Html.LabelFor(model => model.FCUserId, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.FCUserId, ViewBag.FranchiseeList != null ? ViewBag.FranchiseeList as SelectList : Enumerable.Empty<SelectListItem>(), "Select Franchisee", htmlAttributes: new { @class = "form-control", @required = "true" })
                                @Html.ValidationMessageFor(model => model.FCUserId, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="col-md-offset-4 col-md-2">
                                <input type="submit" value="Proceed" class="btn btn-block btn-primary" />
                            </div>
                            <div class="col-md-2">
                                <input type="reset" value="Reset" class="btn btn-block btn-warning" />
                            </div>
                            <div class="clearfix"></div>
                    }
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>
@Scripts.Render("~/bundles/script/async/purchase/purchase-order-date-validations")
@*Scripts.Render("~/bundles/script/jQuery-2.2.0")*@
<script>
    var jsonVendorList = null;
    var autoPopulateVendorList = new Array();
    

    $(document).ready(function () {
        jsonVendorList = @Html.Raw(Json.Encode(@ViewBag.VendorDdlList));
        $(jsonVendorList).each(function(index, vendor){
            autoPopulateVendorList.push(vendor.Text);
        });

        if($("#SelectVendorId").val() !== ''){
            var id = "";
            $(jsonVendorList).each(function(index, vendor){
                if(vendor.Text == $("#SelectVendorId").val()){
                    id = vendor.Value;
                }
            });
            $('#VendorId option:selected').removeAttr('selected');
            $("#VendorId option[value='"+id+"']").attr("selected", true);
        }

        $("#SelectVendorId").autocomplete({
            source: autoPopulateVendorList,

            change: function (event, ui) {
                debugger;
                if (!ui.item) {
                    this.value = '';
                    $('#VendorId option:selected').removeAttr('selected');
                    $("#VendorId option[value='']").attr("selected", true);
                }
                else
                {
                    var id = "";
                    $(jsonVendorList).each(function(index, vendor){
                        if(vendor.Text==ui.item.value){
                            id = vendor.Value;
                        }
                    });
                    $('#VendorId option:selected').removeAttr('selected');
                    $("#VendorId option[value='"+id+"']").attr("selected", true);
                }
            }
        });
    });
</script>


