﻿@model IEnumerable<DailyBasket.Warehouse.Areas.Stock.Models.ViewModels.StockProductViewModel>
@{
    ViewBag.Title = "Batch Wise ProductStock";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header">
    <div class="col-sm-10 col-xs-12 text-center">
        <h1>
            BatchWise Product Stock
        </h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                @using (Html.BeginForm("BatchWiseProductStock", "StockProduct", FormMethod.Get))
                {
                    <div class="col-xs-12" style="padding: 10px 0px 10px 0px">
                        <div class="col-xs-12 col-md-9 col-sm-12">
                            @Html.TextBox("SelectProductId", null, htmlAttributes: new { @class = "form-control", @required = true, @placeholder = "Select Product Name" })
                            @Html.DropDownList("ProductId", ViewBag.ProductDdlList != null ? ViewBag.ProductDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "Select Product Name", htmlAttributes: new { @class = "form-control hide-form-field", @required = "true" })
                        </div>
                        <div class="col-xs-12 col-md-3 col-sm-12">
                            <input type="submit" value="Find Product Stock" class="btn btn-info" />
                        </div>
                    </div>
                }
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Batch No</th>
                                <th>Product Name</th>
                                <th>Available Stock</th>
                                <th>Online Sale Rate</th>
                                <th>Sale Rate A</th>
                                <th>Sale Rate B</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                foreach (var Sale in Model)
                                {

                                    <tr>
                                        <td>@Sale.BatchNo</td>
                                        <td>@Sale.ProductName</td>
                                        <td>@Sale.Quantity</td>
                                        <td>@Sale.OnlineSaleRate</td>
                                        <td>@Sale.SaleRateA</td>
                                        <td>@Sale.SaleRateB</td>
                                        <td class="text-center fontset">
                                            <a href="@Url.Action("UpdateProductSaleRate", "StockProduct", new { Area = "Stock", @popId = Sale.PopId, @spId = Sale.SpId })" class="fa fa-edit btn-xs btn-info" title="Update Sale Rate"></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7"><label class="text-danger">No Record Found</label></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<script>
    var jsonProductList = @Html.Raw(Json.Encode(@ViewBag.ProductDdlList));
    var isSaleRateExists = false; // To avoid Sale rate call
</script>
@Scripts.Render("~/bundles/script/async/productmaster/product-autopopulate-list-with-jquery")


