﻿@model DailyBasket.Warehouse.Core.Model.Stock.ConvertableProductModel
@{
    ViewBag.Title = "MigrateProduct";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
    string selectedProductId = ViewBag.SelectedProductId;
}

<!-- Content Header (Page header) -->
<section class="content-header text-center">
    <h1>Convert Product</h1>
</section>
<!-- / Content Header (Page header) -->
<!-- Main content -->
<link href="~/contents/MediaQuery.css" rel="stylesheet" />

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-offset-1 col-md-10">
            <div class="box box-warning">
                <div class="clearfix"></div>
                <!-- /.box-header -->
                <div class="box-body">
                    @if (TempData["Message"] != null)
                    {
                        <div class="col-lg-12 text-center">
                            <label class="text-danger">@TempData["Message"].ToString()</label>
                        </div>
                    }

                    @using (Html.BeginForm("MigrateProduct", "StockProduct", FormMethod.Post, htmlAttributes: new { @onsubmit = "return validateConvertableProduct();" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.RefStockProductId)
                        @Html.HiddenFor(model => model.RefProductId)
                        @Html.HiddenFor(model => model.BatchId)
                        <div class="col-md-6 text-center">
                            <div class="form-group">
                                <label class="control-label">Main Category </label> <br /> <h4>@Model.MainCategoryName</h4>
                            </div>
                        </div>
                        <div class="col-md-6 text-center">
                            <div class="form-group">
                                <label class="control-label">Sub Category </label> <br /> <h4>@Model.SubCategoryName</h4>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="clearfix"></div>
                        <hr />
                        <div class="col-md-4 text-center">
                            <h3 class="text-center hding"><span>Convert From</span></h3>
                        </div>
                        <div class="col-md-4 text-center arrows">
                        </div>
                        <div class="col-md-4 text-center">
                            <h3 class="text-center hding"><span>Convert Into</span></h3>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6"><hr /></div><div class="col-md-6"><hr /></div>
                        <div class="col-md-4 text-center">
                            <label class="control-label">@Model.ProductName (Stock - @Model.AvailableStock)</label>
                        </div>
                        <div class="col-md-4 text-center arrows">
                            <i class="fa fa-fw fa-arrow-left"></i> <b>Product Name</b> <i class="fa fa-fw fa-arrow-right"></i>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="form-group">
                                @Html.TextBox("SelectProductId", selectedProductId, htmlAttributes: new { @class = "form-control", @required = true, @placeholder = "Select Product Name" })
                                @Html.DropDownListFor(model => model.ProductId, ViewBag.ProductDdlList != null ? ViewBag.ProductDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "Select Product Name", htmlAttributes: new { @class = "form-control hide-form-field", @required = "true" })
                                @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        
                        <div class="col-md-4 text-center">
                            <div class="form-group">
                                @Html.EditorFor(model => model.ConvertStockFrom, new { htmlAttributes = new { @type = "number", @class = "form-control input-sm", @required = "true", @placeholder = "Convertable Quantity", @onchange = "return convertStockNumber()" } })
                                @Html.ValidationMessageFor(model => model.ConvertStockFrom, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4 text-center arrows">
                            <i class="fa fa-fw fa-arrow-left"></i> <b>From (Convert Stock) To</b> <i class="fa fa-fw fa-arrow-right"></i>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="form-group">
                                @Html.EditorFor(model => model.ConvertStockInto, new { htmlAttributes = new { @type = "number", @class = "form-control input-sm", @required = "true", @placeholder = "Converted Quantity", @onchange = "return convertedStockNumber()" } })
                                @Html.ValidationMessageFor(model => model.ConvertStockInto, "", new { @class = "text-danger pull-left" })
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-4 text-center">
                            <div class="form-group">
                                @Html.LabelFor(model => model.BatchNo, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.BatchNo, new { htmlAttributes = new { @class = "form-control input-sm", @required = "true", @placeholder = "Enter Batch No." } })
                                @Html.ValidationMessageFor(model => model.BatchNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PackagingDate, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.PackagingDate, new { htmlAttributes = new { @class = "form-control datepicker", @data_inputmask = "'alias':'dd-mm-yyyy'", @onchange = "validatePackagingDate();", @placeholder = "Enter Packaging Date" } })
                                @Html.ValidationMessageFor(model => model.PackagingDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ExpiryDate, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.ExpiryDate, new { htmlAttributes = new { @class = "form-control datepicker", @data_inputmask = "'alias':'dd-mm-yyyy'", @onchange = "validateExpiryDate()", @placeholder = "Enter Expiry Date" } })
                                @Html.ValidationMessageFor(model => model.ExpiryDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-4 text-center">
                            <div class="form-group">
                                <label class="control-label">Purchase Rate</label>
                                @Html.EditorFor(model => model.PurchaseRate, new { htmlAttributes = new { @type = "number", @class = "form-control input-sm", @required = "true", @readonly = true, @placeholder = "Purchase Rate" } })
                                @Html.ValidationMessageFor(model => model.PurchaseRate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-2 text-center">
                            <div class="form-group">
                                <label class="control-label">MRP</label>
                                @Html.EditorFor(model => model.MRP, new { htmlAttributes = new { @class = "form-control input-sm", @required = "true", @placeholder = "Online Sale Rate" } })
                                @Html.ValidationMessageFor(model => model.MRP, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2 text-center">
                            <div class="form-group">
                                <label class="control-label">Online Sale Rate</label>
                                @Html.EditorFor(model => model.OnlineSaleRate, new { htmlAttributes = new { @class = "form-control input-sm", @required = "true", @placeholder = "Online Sale Rate" } })
                                @Html.ValidationMessageFor(model => model.OnlineSaleRate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2 text-center">
                            <div class="form-group">
                                <label class="control-label">Sale Rate A</label>
                                @Html.EditorFor(model => model.SaleRateA, new { htmlAttributes = new { @class = "form-control input-sm", @required = "true", @placeholder = "Sale Rate A" } })
                                @Html.ValidationMessageFor(model => model.SaleRateA, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2 text-center">
                            <div class="form-group">
                                <label class="control-label">Sale Rate B</label>
                                @Html.EditorFor(model => model.SaleRateB, new { htmlAttributes = new { @class = "form-control input-sm", @required = "true", @placeholder = "Sale Rate B" } })
                                @Html.ValidationMessageFor(model => model.SaleRateB, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-4 text-center">
                            <label class="control-label">@Model.ExistRackNo</label>
                        </div>
                        <div class="col-md-4 text-center arrows">
                            <i class="fa fa-fw fa-arrow-left"></i> <b>Rack No</b> <i class="fa fa-fw fa-arrow-right"></i>
                        </div>
                        <div class="col-md-4 text-center">
                            <div class="form-group">
                                @Html.EditorFor(model => model.NewRackNo, new { htmlAttributes = new { @class = "form-control input-sm", @required = "true", @placeholder = "Rack No" } })
                                @Html.ValidationMessageFor(model => model.NewRackNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <hr />
                        <div class="col-md-offset-4 col-md-2">
                            <button type="submit" class="btn btn-block btn-primary">Save</button>
                        </div>
                        <div class="col-md-2">
                            <button type="reset" class="btn btn-block btn-warning">Reset</button>
                        </div>
                        <div class="clearfix"></div><br />
                        <hr class="convertable_products_spacing_divider" />
                    }
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script>
    var availStock = parseFloat(@Html.Raw(Json.Encode(@Model.AvailableStock)));
    var refProductQuantity = parseFloat(@Html.Raw(Json.Encode(@Model.Quantity)));
    var jsonProductList = @Html.Raw(Json.Encode(@ViewBag.ProductDdlList));
</script>
@Scripts.Render("~/bundles/script/async/stock/product-conversion-validation");
