﻿@model IEnumerable<DailyBasket.Warehouse.Areas.Stock.Models.ViewModels.StockProductViewModel>
@{
    ViewBag.Title = "Products Stock";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}
<section class="content-header text-center">
    <h1>Products Stock</h1>
</section>
<!-- / Content Header (Page header) -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="clearfix"></div>
                <!-- /.box-header -->
                <div class="box-body">
                    
                    <!-- Main content -->
                    <section class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="box-body">
                                        <table id="SaleProduct" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Sr.No.</th>
                                                    <th>Product Name</th>
                                                    <th>Available Stock</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model != null && Model.Any())
                                                {
                                                    var index = 1;
                                                    foreach (var Sale in Model)
                                                    {
                                                        <tr>
                                                            <td>@(index++)</td>
                                                            <td>@Sale.ProductName</td>
                                                            <td>@Sale.Quantity @Sale.QuantityType</td>
                                                            <td class="text-center fontset">
                                                                <a href="@Url.Action("ExpiryWiseProductStock", "StockProduct" , new { ProductId=@Sale.ProductId})"><i class="fa fa-eye btn-xs btn-info"></i> </a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="4"><label class="text-danger">No Record Found</label></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </section>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>