﻿@model IEnumerable<DailyBasket.Warehouse.Areas.Stock.Models.ViewModels.ReorderProductViewModel>
@{
    ViewBag.Title = "Reorder Products System";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header">
    <div class="col-sm-10 col-xs-12 text-center">
        <h1>
          Product Reorder System
        </h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                @using (Html.BeginForm("ReorderProductsSystem", "StockProduct", FormMethod.Get, htmlAttributes: new { @onsubmit = "return validateButton();" }))
                {
                    <div class="col-xs-12" style="padding: 10px 0px 10px 0px">
                        <div class="col-xs-4 col-md-3 col-sm-4">
                            @Html.TextBox("SelectBrandId", null, htmlAttributes: new { @class = "form-control", @required = true, @placeholder = "Select Brand Name" })
                            @Html.DropDownList("BrandId", ViewBag.BrandDdlList != null ? ViewBag.BrandDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "Select Brand Name", htmlAttributes: new { @class = "form-control hide-form-field" })
                        </div>
                        <div class="col-xs-4 col-md-3 col-sm-4">
                            @Html.TextBox("StartDate", null, htmlAttributes: new { @class = "form-control datepicker", @data_inputmask = "'alias':'dd-mm-yyyy'", @onchange = "validateStartDate('this.val')", @required = true, @placeholder = "Select Start Date" })
                            @Html.ValidationMessage("StartDate", "", new { @class = "text-danger" })
                        </div>
                        <div class="col-xs-4 col-md-3 col-sm-4">
                            @Html.TextBox("EndDate", null, htmlAttributes: new { @class = "form-control datepicker", @data_inputmask = "'alias':'dd-mm-yyyy'", @onchange = "validateEndDate()", @required = true, @placeholder = "Select End Date" })
                            @Html.ValidationMessage("EndDate", "", new { @class = "text-danger" })
                        </div>
                        <div class="col-xs-12 col-md-3 col-sm-12">
                            <input type="submit" value="Get Products Stock" class="btn btn-info" />
                        </div>
                    </div>
                }
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Sold Stock</th>
                                <th>Current Stock</th>
                                <th>Order Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                var index = 1;
                                foreach (var prodStock in Model)
                                {
                                    <tr>
                                        <td>@(index++) </td>
                                        <td>@prodStock.ProductName</td>
                                        <td>@prodStock.SoldStock</td>
                                        <td>@prodStock.CurrentStock</td>
                                        <td>@prodStock.Order_Quantity</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="5"><label class="text-danger">No Record Found</label></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<script>
    var jsonBrandList = @Html.Raw(Json.Encode(@ViewBag.BrandDdlList));
    var autoPopulateBrandList = new Array();
</script>
@Scripts.Render("~/bundles/script/async/product-master/brand-ddl")

