﻿@model DailyBasket.Warehouse.Core.Model.Stock.StockProductSaleRateModel
@{
    ViewBag.Title = "Batch Wise ProductStock";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}
<section class="content-header text-center">
    <h1>Update BatchWise Product Sale Rate</h1>
</section>

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-offset-3 col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <!-- form start -->
                @if (TempData["Message"] != null)
                {
                    <div class="col-lg-12 text-center">
                        <label class="text-danger">@TempData["Message"].ToString()</label>
                    </div>
                }

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.PopId)
                    @Html.HiddenFor(model => model.SpId)
                    @Html.HiddenFor(model => model.ProductId)
                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "control-label" })
                                @Html.DisplayFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.AvailableStock, htmlAttributes: new { @class = "control-label" })
                                @Html.DisplayFor(model => model.AvailableStock, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AvailableStock, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.BatchNo, htmlAttributes: new { @class = "control-label" })
                                @Html.DisplayFor(model => model.BatchNo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BatchNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ExpiryDate, htmlAttributes: new { @class = "control-label" })
                                @Html.DisplayFor(model => model.ExpiryDate, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "Enter Expiry Date" } })
                                @Html.ValidationMessageFor(model => model.ExpiryDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PackagingDate, htmlAttributes: new { @class = "control-label" })
                                @Html.DisplayFor(model => model.PackagingDate, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "Enter Packaging Date" } })
                                @Html.ValidationMessageFor(model => model.PackagingDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseRate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.PurchaseRate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter MRP", @required = "true", @readonly = true } })
                                @Html.ValidationMessageFor(model => model.PurchaseRate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.MRP, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.MRP, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter MRP", @required = "true" } })
                                @Html.ValidationMessageFor(model => model.MRP, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.OnlineSaleRate, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.OnlineSaleRate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Online Sale Rate", @required = "true" } })
                                @Html.ValidationMessageFor(model => model.OnlineSaleRate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SaleRateA, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.SaleRateA, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Sale Rate A", @required = "true" } })
                                @Html.ValidationMessageFor(model => model.SaleRateA, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SaleRateB, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.SaleRateB, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Sale Rate B", @required = "true" } })
                                @Html.ValidationMessageFor(model => model.SaleRateB, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-offset-3 col-md-3">
                            <input type="submit" value="Update" id="UpdateProductSaleRate" class="btn btn-primary btn btn-block btn-primary" />
                        </div>
                    </div>
                }
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
@Scripts.Render("~/bundles/script/jQuery-2.2.0")
<script>
    $("#UpdateProductSaleRate").click(function () {
        if (confirm("Are you sure to update this product sale rate?")) {
            return true;
        }
        else {
            return false;
        }
    });
</script>