﻿@model IEnumerable<DailyBasket.Warehouse.Areas.Stock.Models.ViewModels.ECStockProductViewModel>
@{
    ViewBag.Title = "ExpiryDate Wise Convetable Products";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header">
    <div class="col-sm-10 col-xs-12 text-center">
        <h1>
            ExpiryDateWise Convetable Products
        </h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                @using (Html.BeginForm("ViewExpiryWiseConvetableProducts", "StockProduct", FormMethod.Get))
                {
                    <div class="col-xs-12" style="padding: 10px 0px 10px 0px">
                        <div class="col-xs-12 col-md-9 col-sm-12">
                            @Html.TextBox("SelectProductId", null, htmlAttributes: new { @class = "form-control", @required = true, @placeholder = "Select Product Name" })
                            @Html.DropDownList("ProductId", ViewBag.ProductDdlList != null ? ViewBag.ProductDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "Select Product Name", htmlAttributes: new { @class = "form-control hide-form-field", @required = "true" })
                        </div>
                        <div class="col-xs-12 col-md-3 col-sm-12">
                            <input type="submit" value="Find Product Stock" class="btn btn-info" />
                        </div>
                    </div>
                }
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Sr. No</th>
                                <th>Product Name</th>
                                <th>Available Stock</th>
                                <th>Batch No</th>
                                <th>Expiry Date</th>
                                <th>Rack No</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                var index = 1;
                                foreach (var product in Model)
                                {

                                    <tr>
                                        <td>@(index++)</td>
                                        <td>@product.ProductName</td>
                                        <td>@product.AvailableQuantity</td>
                                        <td>@product.BatchNo</td>
                                        <td>@product.ExpiryDate</td>
                                        <td>@product.RackNo</td>
                                        <td class="text-center fontset">
                                            <a href="@Url.Action("MigrateProduct", new { spid = product.StockProductId, pid = product.ProductId })" class="fa fa-edit btn-xs btn-warning" title="Update"></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7"><label class="text-danger">No Record Found</label></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
@*Scripts.Render("~/bundles/script/async/ProductMaster/convertable-product-list")*@
<script>
    var jsonProductList = @Html.Raw(Json.Encode(@ViewBag.ProductDdlList));
    var isSaleRateExists = false; // To avoid Sale rate call
</script>
@Scripts.Render("~/bundles/script/async/productmaster/product-autopopulate-list-with-jquery")

