﻿@model DailyBasket.Warehouse.Core.Model.Product.ProductModel
@{
    ViewBag.Title = "Add Product";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header text-center">
    <h1>Add Product</h1>
</section>
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="clearfix"></div>
                <!-- /.box-header -->
                <div class="box-body">
                    @if (TempData["Message"] != null)
                    {
                        <div class="col-lg-12 text-center">
                            <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                        </div>
                    }
                    @using (Html.BeginForm("AddProduct", "Product", FormMethod.Post, htmlAttributes: new { @enctype = "multipart/form-data", @onsubmit = "return validateProduct();" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.MainCategoryId, htmlAttributes: new { @class = "control-label" })
                                @Html.TextBox("SelectMainCategoryId", null, htmlAttributes: new { @class = "form-control", @required = true, @placeholder = "Select Main Category" })
                                @Html.DropDownListFor(model => model.MainCategoryId, ViewBag.MainCategoryDdlList != null ? ViewBag.MainCategoryDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "Select Main Category", htmlAttributes: new { @class = "form-control hide-form-field" })
                                @Html.ValidationMessageFor(model => model.MainCategoryId, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">

                                @Html.LabelFor(model => model.SubCategoryId, htmlAttributes: new { @class = "control-label" })
                                @Html.TextBox("SelectSubCategoryId", null, htmlAttributes: new { @class = "form-control", @required = true, @placeholder = "Select Sub Category" })
                                @Html.DropDownListFor(model => model.SubCategoryId, ViewBag.SubCategoryDdlList != null ? ViewBag.SubCategoryDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "Select Product SubCategory", htmlAttributes: new { @class = "form-control hide-form-field" })
                                @Html.ValidationMessageFor(model => model.SubCategoryId, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.BrandId, htmlAttributes: new { @class = "control-label" })
                                @Html.TextBox("SelectBrandId", null, htmlAttributes: new { @class = "form-control", @required = true, @placeholder = "Select Brand Name" })
                                @Html.DropDownListFor(model => model.BrandId, ViewBag.BrandDdlList != null ? ViewBag.BrandDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "Select Brand Name", htmlAttributes: new { @class = "form-control hide-form-field" })
                                @Html.ValidationMessageFor(model => model.BrandId, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductHSNNumberId, htmlAttributes: new { @class = "control-label" })
                                @Html.TextBox("SelectProductHSNNumberId", null, htmlAttributes: new { @class = "form-control", @required = true, @placeholder = "Select Product HSN Number" })
                                @Html.DropDownListFor(model => model.ProductHSNNumberId, ViewBag.ProductHSNDdlList != null ? ViewBag.ProductHSNDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "Select Product HSN Number", htmlAttributes: new { @class = "form-control hide-form-field" })
                                @Html.ValidationMessageFor(model => model.ProductHSNNumberId, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = true, @placeholder = "Product Name", @onblur = "validatePrductName(this.id);", @onkeyup = "removeValidationMessage(this.id);" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DisplayIndex, htmlAttributes: new { @class = "control-label" })

                                @Html.DropDownListFor(model => model.DisplayIndex, ViewBag.DisplayIndexDdlList != null ? ViewBag.DisplayIndexDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "Select Product Display Index", htmlAttributes: new { @class = "form-control", @required = true })
                                @Html.ValidationMessageFor(model => model.DisplayIndex, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SGST, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.SGST, new { htmlAttributes = new { @class = "form-control", @required = true, @placeholder = "SGST" } })
                                @Html.ValidationMessageFor(model => model.SGST, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CGST, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.CGST, new { htmlAttributes = new { @class = "form-control", @required = true, @placeholder = "CGST" } })
                                @Html.ValidationMessageFor(model => model.CGST, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.IGST, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.IGST, new { htmlAttributes = new { @class = "form-control", @required = true, @placeholder = "IGST" } })
                                @Html.ValidationMessageFor(model => model.IGST, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <div class="form-group">

                                        @Html.LabelFor(model => model.ProductDescription, htmlAttributes: new { @class = "control-label" })
                                        <div class="clearfix"></div>
                                        @Html.TextAreaFor(model => model.ProductDescription, 3, 0, new { @class = "form-control", @placeholder = "Product Description" })
                                        @Html.ValidationMessageFor(model => model.ProductDescription, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ProductDisclaimer, htmlAttributes: new { @class = "control-label" })
                                        <div class="clearfix"></div>
                                        @Html.TextAreaFor(model => model.ProductDisclaimer, 3, 0, new { @class = "form-control", @placeholder = "Product Disclaimer" })
                                        @Html.ValidationMessageFor(model => model.ProductDisclaimer, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ProductImage1, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.ProductImage1, new { type = "file", @class = "form-control", @required = true, @onchange = "GetProductImageSize(this)" })
                                        @Html.ValidationMessageFor(model => model.ProductImage1, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">

                                        @Html.LabelFor(model => model.ProductImage2, htmlAttributes: new { @class = "control-label" })

                                        @Html.TextBoxFor(model => model.ProductImage2, new { type = "file", @class = "form-control", @onchange = "GetProductImageSize(this)" })
                                        @Html.ValidationMessageFor(model => model.ProductImage2, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ProductImage3, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.ProductImage3, new { type = "file", @class = "form-control", @onchange = "GetProductImageSize(this)" })
                                        @Html.ValidationMessageFor(model => model.ProductImage3, "", new { @class = "text-danger" })

                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ProductImage4, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.ProductImage4, new { type = "file", @class = "form-control", @onchange = "GetProductImageSize(this)" })
                                        @Html.ValidationMessageFor(model => model.ProductImage4, "", new { @class = "text-danger" })

                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="col-md-offset-3 col-md-3">
                                    <input type="submit" value="Save" class="btn btn-primary btn btn-block btn-primary" />
                                </div>
                                <div class="col-md-3">
                                    <input type="reset" value="Reset" class="btn btn-warning btn btn-block btn-primary" />
                                </div>
                                <div class="clearfix"></div>
                    }
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<script>

    var jsonMCList = @Html.Raw(Json.Encode(@ViewBag.MainCategoryDdlList));
    var autoPopulateMCList = new Array();
    var jsonSCList = @Html.Raw(Json.Encode(@ViewBag.SubCategoryDdlList));;
    var autoPopulateSCList = new Array();
    var jsonBrandList = @Html.Raw(Json.Encode(@ViewBag.BrandDdlList));
    var autoPopulateBrandList = new Array();
    var jsonProductHSNList = @Html.Raw(Json.Encode(@ViewBag.ProductHSNDdlList));
    var autoPopulateProductHSNList = new Array();

</script>
@Scripts.Render("~/bundles/script/async/product-master/product-add-form-validation")