﻿@model DailyBasket.Warehouse.Core.Model.Product.ProductHsnModel
@{
    ViewBag.Title = "Add Product HSN Number";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header text-center "><h1>Add Product HSN Number</h1></section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-offset-3 col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                @if (TempData["Message"] != null)
                {
                    <div class="col-lg-12 text-center">
                        <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                    </div>
                }
                <!-- form start -->
                @using (Html.BeginForm("AddProductHsnNumber", "Product", FormMethod.Post, htmlAttributes: new { @onsubmit = "return validateProductHSNForm();" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ProductHsnNumber, htmlAttributes: new { @class = "control-label col-md-6" })

                            @Html.EditorFor(model => model.ProductHsnNumber, new { htmlAttributes = new { @class = "form-control", @reqduired = "true", @placeholder = "Product HSN Number", @onblur = "isProductHsnNumberExists(this.id);", @onkeyup = "removeValidationMessage(this.id);" } })
                            @Html.ValidationMessageFor(model => model.ProductHsnNumber, "", new { @class = "text-danger" })

                        </div>

                        <div class="box-footer">

                            <input type="submit" value="Submit" class="btn btn-primary" />
                            <input type="reset" value="Reset" class="btn btn-warning" />
                        </div>
                    </div>
                }
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
@Scripts.Render("~/bundles/script/async/product-master/product-hsn-form")