﻿@model IEnumerable<DailyBasket.Warehouse.Core.Model.Product.ProductModel>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}


<section class="content-header">
    <div class="col-sm-10 col-xs-12 text-center">
        <h1>
            Product List
        </h1>
    </div>
    <div class="col-sm-2 col-xs-12">
        <h1>
            @Html.ActionLink("Add Product", "AddProduct", "Product", new { Area = "ProductMaster" }, new { @class = "btn btn-info pull-right" })
        </h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Sr. No</th>
                                <th>Product Name</th>
                                <th>HSN No</th>
                                <th>Main Category</th>
                                <th>Sub Category</th>
                                <th>Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                var index = 1;
                                foreach (var product in Model)
                                {

                                    <tr>
                                        <td>@(index++)</td>
                                        <td>@product.Name</td>
                                        <td>@product.SelectProductHSNNumberId</td>
                                        <td>@product.SelectMainCategoryId</td>
                                        <td>@product.SelectSubCategoryId</td>
                                        <td>@(product.Status != 0 ? "Active" : "Inactive")</td>

                                        <td class="text-center fontset">
                                            <a href="@Url.Action("UpdateProduct", "Product", new { Area = "ProductMaster", @productId = product.Id })" class="fa fa-edit btn-xs btn-warning" title="Update"></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7"><label class="text-danger">No Record Found</label></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>




