﻿@model DailyBasket.Warehouse.Core.Model.Product.ProductModel
@using DailyBasket.Warehouse.Core.Enum
@{
    ViewBag.Title = "Update Product";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header text-center">
    <h1>Update Product</h1>
</section>
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="clearfix"></div>
                <!-- /.box-header -->
                <div class="tab">
                    <a class="tablinks active" onclick="openTab(event, 'tab1')" @(TempData["PImageView"] == null ? "id=defaultOpen" : "")>Product Details</a>
                    <a class="tablinks" onclick="openTab(event, 'tab2')" @(TempData["PImageView"] != null ? "id=defaultOpen" : "")>Product Images</a>
                </div>
                <div class="box-body">
                    @if (TempData["Message"] != null)
                    {
                        <div class="col-lg-12 text-center">
                            <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                        </div>
                    }
                    <div id="tab1" class="tabcontent">
                        @using (Html.BeginForm("UpdateProduct", "Product", FormMethod.Post, htmlAttributes: new { @onsubmit = "return validateUpdateProduct();" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.Id)
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MainCategoryId, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.SelectMainCategoryId, htmlAttributes: new { @class = "form-control", @required = true, @placeholder = "Select Main Category" })
                                    @Html.DropDownListFor(model => model.MainCategoryId, ViewBag.MainCategoryDdlList != null ? ViewBag.MainCategoryDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "Select Main Category", htmlAttributes: new { @class = "form-control hide-form-field" })
                                    @Html.ValidationMessageFor(model => model.MainCategoryId, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SubCategoryId, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.SelectSubCategoryId, htmlAttributes: new { @class = "form-control", @required = true, @placeholder = "Select Sub Category" })
                                    @Html.DropDownListFor(model => model.SubCategoryId, ViewBag.SubCategoryDdlList != null ? ViewBag.SubCategoryDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "Select Product SubCategory", htmlAttributes: new { @class = "form-control hide-form-field" })
                                    @Html.ValidationMessageFor(model => model.SubCategoryId, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.BrandId, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.SelectBrandId, htmlAttributes: new { @class = "form-control", @required = true, @placeholder = "Select Brand Name" })
                                    @Html.DropDownListFor(model => model.BrandId, ViewBag.BrandDdlList != null ? ViewBag.BrandDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "Select Brand Name", htmlAttributes: new { @class = "form-control hide-form-field" })
                                    @Html.ValidationMessageFor(model => model.BrandId, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProductHSNNumberId, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.SelectProductHSNNumberId, htmlAttributes: new { @class = "form-control", @required = true, @placeholder = "Select Product HSN Number" })
                                    @Html.DropDownListFor(model => model.ProductHSNNumberId, ViewBag.ProductHSNDdlList != null ? ViewBag.ProductHSNDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "Select Product HSN Number", htmlAttributes: new { @class = "form-control hide-form-field" })
                                    @Html.ValidationMessageFor(model => model.ProductHSNNumberId, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.CheckBoxFor(model => model.IsNameUpdated)
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                                    <span class="text-danger">Note: Check it if Product Name want to change.</span>
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = true, @placeholder = "Product Name", @onblur = "validateUpdatedPrductName(this.id);", @onkeyup = "removeValidationMessage(this.id);" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DisplayIndex, htmlAttributes: new { @class = "control-label" })

                                    @Html.DropDownListFor(model => model.DisplayIndex, ViewBag.DisplayIndexDdlList != null ? ViewBag.DisplayIndexDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "Select Product Display Index", htmlAttributes: new { @class = "form-control", @required = true })
                                    @Html.ValidationMessageFor(model => model.DisplayIndex, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="clearfix"></div>
                            
                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SGST, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.SGST, new { htmlAttributes = new { @class = "form-control", @required = true, @placeholder = "SGST" } })
                                    @Html.ValidationMessageFor(model => model.SGST, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CGST, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CGST, new { htmlAttributes = new { @class = "form-control", @required = true, @placeholder = "CGST" } })
                                    @Html.ValidationMessageFor(model => model.CGST, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IGST, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.IGST, new { htmlAttributes = new { @class = "form-control", @required = true, @placeholder = "IGST" } })
                                    @Html.ValidationMessageFor(model => model.IGST, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">

                                    @Html.LabelFor(model => model.ProductDescription, htmlAttributes: new { @class = "control-label" })
                                    <div class="clearfix"></div>
                                    @Html.TextAreaFor(model => model.ProductDescription, 3, 0, new { @class = "form-control", @placeholder = "Product Description" })
                                    @Html.ValidationMessageFor(model => model.ProductDescription, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProductDisclaimer, htmlAttributes: new { @class = "control-label" })
                                    <div class="clearfix"></div>
                                    @Html.TextAreaFor(model => model.ProductDisclaimer, 3, 0, new { @class = "form-control", @placeholder = "Product Disclaimer" })
                                    @Html.ValidationMessageFor(model => model.ProductDisclaimer, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <span class="col-md-2">@Html.RadioButtonFor(model => model.Status, (int)Status.Active, new { htmlAttributes = new { @required = true } }) Active</span>
                                        <span class="col-md-2">@Html.RadioButtonFor(model => model.Status, (int)Status.Inactive, new { htmlAttributes = new { @required = true } }) Inactive</span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-md-offset-3 col-md-3">
                                <input type="submit" name="submit" value="Update Product" class="btn btn-primary btn btn-block btn-primary" />
                            </div>
                                <div class="col-md-3">
                                    <a href="@Url.Action("ProductList", "Product")" class="btn btn-danger btn btn-block">Cancel</a>
                                </div>
                                <div class="clearfix"></div>
                        }
                    </div>

                    <div id="tab2" class="tabcontent">
                        @using (Html.BeginForm("UpdateProduct", "Product", FormMethod.Post, htmlAttributes: new { @enctype = "multipart/form-data", @onsubmit = "return validateProductImages();" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.Id)
                            @Html.HiddenFor(model => model.MainCategoryId)
                            @Html.HiddenFor(model => model.SelectMainCategoryId)
                            @Html.HiddenFor(model => model.SubCategoryId)
                            @Html.HiddenFor(model => model.SelectSubCategoryId)
                            @Html.HiddenFor(model => model.BrandId)
                            @Html.HiddenFor(model => model.SelectBrandId)
                            @Html.HiddenFor(model => model.ProductHSNNumberId)
                            @Html.HiddenFor(model => model.SelectProductHSNNumberId)
                            @Html.HiddenFor(model => model.Name)
                            @Html.HiddenFor(model => model.DisplayIndex)
                            @Html.HiddenFor(model => model.Quantity)
                            @Html.HiddenFor(model => model.QuantityType)
                            @Html.HiddenFor(model => model.SGST)
                            @Html.HiddenFor(model => model.IGST)
                            @Html.HiddenFor(model => model.CGST)
                            @Html.HiddenFor(model => model.IsConvertable)

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.MainCategoryId, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextBox("DMCName", Model.SelectMainCategoryId, htmlAttributes: new { @class = "form-control", @disabled = true, @placeholder = "Select Main Category" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.SubCategoryId, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextBox("DSCName", Model.SelectSubCategoryId, htmlAttributes: new { @class = "form-control", @disabled = true, @placeholder = "Select Sub Category" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.BrandId, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextBox("DBName", Model.SelectBrandId, htmlAttributes: new { @class = "form-control", @disabled = true, @placeholder = "Select Brand Name" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProductHSNNumberId, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextBox("DPHSNumber", Model.SelectProductHSNNumberId, htmlAttributes: new { @class = "form-control", @disabled = true, @placeholder = "Select Product HSN Number" })
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextBox("DPName", Model.Name, htmlAttributes: new { @class = "form-control", @disabled = true, @placeholder = "Product Name" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProductImage1, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.ProductImage1, new { type = "file", @class = "form-control", @required = true, @onchange = "GetProductImageSize(this)" })
                                    @Html.ValidationMessageFor(model => model.ProductImage1, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ProductImage2, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.ProductImage2, new { type = "file", @class = "form-control", @onchange = "GetProductImageSize(this)" })
                                    @Html.ValidationMessageFor(model => model.ProductImage2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ProductImage3, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.ProductImage3, new { type = "file", @class = "form-control", @onchange = "GetProductImageSize(this)" })
                                        @Html.ValidationMessageFor(model => model.ProductImage3, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ProductImage4, htmlAttributes: new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.ProductImage4, new { type = "file", @class = "form-control", @onchange = "GetProductImageSize(this)" })
                                        @Html.ValidationMessageFor(model => model.ProductImage4, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-offset-3 col-md-3">
                                    <input type="submit" name="submit" value="Update Product Images" class="btn btn-primary btn btn-block btn-primary" />
                                </div>
                                <div class="col-md-3">
                                    <a href="@Url.Action("ProductList", "Product")" class="btn btn-danger btn btn-block">Cancel</a>
                                </div>
                                <div class="clearfix"></div>
                        }
                    </div>

                </div>

                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

<script>
    var jsonMCList = @Html.Raw(Json.Encode(@ViewBag.MainCategoryDdlList));
    var autoPopulateMCList = new Array();
    var jsonSCList = @Html.Raw(Json.Encode(@ViewBag.SubCategoryDdlList));
    var autoPopulateSCList = new Array();
    var jsonBrandList = @Html.Raw(Json.Encode(@ViewBag.BrandDdlList));
    var autoPopulateBrandList = new Array();
    var jsonProductHSNList = @Html.Raw(Json.Encode(@ViewBag.ProductHSNDdlList));
    var autoPopulateProductHSNList = new Array();
    
</script>

@Scripts.Render("~/bundles/script/async/product-master/product-update-form-validation")
@Scripts.Render("~/bundles/script/tab-switch-script")

