﻿@model DailyBasket.Warehouse.Core.Model.Product.MainCategoryModel
@{
    ViewBag.Title = "Add Product Main Category";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header text-center "><h1>Add Product Category</h1></section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-offset-3 col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                @if(TempData["Message"] != null)
                {
                    <div class="col-lg-12 text-center">
                        <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                    </div>
                }
                <!-- form start -->
                @using (Html.BeginForm("AddMainCategory", "ProductCategory", FormMethod.Post, htmlAttributes: new { @enctype = "multipart/form-data", @onsubmit = "return validateMainCategoryForm();" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.MainCategoryName, htmlAttributes: new { @class = "control-label" })

                            @Html.EditorFor(model => model.MainCategoryName, new { htmlAttributes = new { @class = "form-control", @reqduired = "true", @placeholder = "Product Category Name", @onblur = "validateMainCategory();", @onkeyup = "removeValidationMessage(this.id);" } })
                            @Html.ValidationMessageFor(model => model.MainCategoryName, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.MainCategoryImage, htmlAttributes: new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.MainCategoryImage, new { type = "file", @class = "form-control", @required = true, @onchange = "validateProductCategoryImage(this)" })
                            @Html.ValidationMessageFor(model => model.MainCategoryImage, "", new { @class = "text-danger" })

                        </div>

                        <div class="box-footer">

                            <input type="submit" value="Submit" class="btn btn-primary"/>
                            <input type="reset" value="Reset" class="btn btn-warning"/>
                        </div>
                    </div>
                }
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
@Scripts.Render("~/bundles/script/async/product-master/product-maincat-form")
@Scripts.Render("~/bundles/script/async/product-master/pcategory-image-validation")