﻿@model DailyBasket.Warehouse.Core.Model.Product.SubCategoryModel
@{
    ViewBag.Title = "Add Product SubCategory";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header text-center "><h1>Add Product Sub Category</h1></section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-offset-3 col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                @if (TempData["Message"] != null)
                {
                    <div class="col-lg-12 text-center">
                        <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                    </div>
                }
                <!-- form start -->
                @using (Html.BeginForm("AddSubCategory", "ProductCategory", FormMethod.Post, htmlAttributes: new { @enctype = "multipart/form-data", @onsubmit = "return validateSubCategoryForm();" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="box-body">
                        <div class="form-group">
                            @Html.Label("Main Category", htmlAttributes: new { @class = "control-label" })
                            @Html.TextBox("SelectMainCategoryId", null, htmlAttributes: new { @class = "form-control", @required = true, @placeholder = "Select Main Category" })
                            @Html.DropDownListFor(model => model.MainCategoryId, ViewBag.MainCategoryDdlList != null ? ViewBag.MainCategoryDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "Select Main Category", htmlAttributes: new { @class = "form-control hide-form-field", @required = true })

                            @Html.ValidationMessageFor(model => model.MainCategoryId, "", new { @class = "text-danger" })
                        </div>


                        <div class="form-group">
                            @Html.LabelFor(model => model.SubCategoryName, htmlAttributes: new { @class = "control-label" })

                            @Html.EditorFor(model => model.SubCategoryName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sub Category", @required = "true", @onblur = "validateSubCategory();", @onkeyup = "removeValidationMessage(this.id);" } })
                            @Html.ValidationMessageFor(model => model.SubCategoryName, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.SubCategoryImage, htmlAttributes: new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.SubCategoryImage, new { type = "file", @class = "form-control", @required = true, @onchange = "validateProductCategoryImage(this)" })
                            @Html.ValidationMessageFor(model => model.SubCategoryImage, "", new { @class = "text-danger" })

                        </div>


                        <div class="form-group">

                            <input type="submit" value="Submit" class="btn btn-primary" />
                            <input type="reset" value="Reset" class="btn btn-warning" />

                        </div>
                    </div>
                }
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@Scripts.Render("~/bundles/script/async/product-master/product-subcat-form")

<script>
    var jsonMCList = null;
    var autoPopulateMCList = new Array();

    $(document).ready(function () {

        jsonMCList = @Html.Raw(Json.Encode(@ViewBag.MainCategoryDdlList));
        $(jsonMCList).each(function(index, MainCategory){
            autoPopulateMCList.push(MainCategory.Text);
        });

        $("#SelectMainCategoryId").autocomplete({
            source: autoPopulateMCList,

            change: function (event, ui) {
                if (!ui.item) {
                    this.value = '';
                    $('#MainCategoryId option:selected').removeAttr('selected');
                    $("#MainCategoryId option[value='']").attr("selected", true);
                }
                else
                {
                    var id = "";
                    $(jsonMCList).each(function(index, MainCategory){
                        if(MainCategory.Text==ui.item.value){
                            id = MainCategory.Value;
                        }
                    });
                    $('#MainCategoryId option:selected').removeAttr('selected');
                    $("#MainCategoryId option[value='"+id+"']").attr("selected", true);
                }
            }
        });
    });
</script>

