﻿@model IEnumerable<DailyBasket.Warehouse.Core.Model.Product.MainCategoryModel>
@using DailyBasket.Warehouse.Core.Enum;
@{
    ViewBag.Title = "Product Main Categories";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header">
    <div class="col-sm-10 col-xs-12 text-center">
        <h1>
            Product Main Categories
        </h1>
    </div>
    <div class="col-sm-2 col-xs-12">
        <h1>
            @Html.ActionLink("Add Main Category", "AddMainCategory", "ProductCategory", new { Area = "ProductMaster" }, new { @class = "btn btn-info pull-right" })
        </h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Sr. No</th>
                                <th>Product Main Category</th>
                                <th>Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                var index = 1;
                                foreach (var mainCategory in Model)
                                {

                                    <tr>
                                        <td>@(index++)</td>
                                        <td>@mainCategory.MainCategoryName</td>
                                        <td>@(mainCategory.Status == (uint)Status.Active ? "Active" : "Inactive")</td>

                                        <td class="text-center fontset">
                                            <a href="@Url.Action("UpdateMainCategory", "ProductCategory", new { Area = "ProductMaster", @mainCatId = mainCategory.MainCategoryId })" class="fa fa-edit btn-xs btn-warning" title="Update"></a>
                                            <a href="@Url.Action("UpdateMainCategoryStatus", "ProductCategory", new { Area = "ProductMaster", @mainCatId = mainCategory.MainCategoryId, @status = mainCategory.Status })" class="fa fa-power-off btn-xs btn-warning" title="Change Status"></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4"><label class="text-danger">No Record Found</label></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>



