﻿@model IEnumerable<DailyBasket.Warehouse.Core.Model.Product.SubCategoryModel>
@using DailyBasket.Warehouse.Core.Enum;
@{
    ViewBag.Title = "Product SubCategories";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header">
    <div class="col-sm-10 col-xs-12 text-center">
        <h1>
            Product SubCategories
        </h1>
    </div>
    <div class="col-sm-2 col-xs-12">
        <h1>
            @Html.ActionLink("Add Product SubCategory", "AddSubCategory", "ProductCategory", new { Area = "ProductMaster" }, new { @class = "btn btn-info pull-right" })
        </h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Sr. No</th>
                                <th>Main Category</th>
                                <th>Sub Category</th>
                                <th>Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                var index = 1;
                                foreach (var subCategory in Model)
                                {

                                    <tr>
                                        <td>@(index++)</td>
                                        <td>@subCategory.MainCategory</td>
                                        <td>@subCategory.SubCategoryName</td>
                                        <td>@(subCategory.Status == (uint)Status.Active ? "Active" : "Inactive")</td>

                                        <td class="text-center fontset">
                                            <a href="@Url.Action("UpdateSubCategory", "ProductCategory", new { Area = "ProductMaster", @subCatId = subCategory.SubCategoryId })" class="fa fa-edit btn-xs btn-warning" title="Update"></a>
                                            <a href="@Url.Action("UpdateSubCategoryStatus", "ProductCategory", new { Area = "ProductMaster", @subCatId = subCategory.SubCategoryId, @status = subCategory.Status })" class="fa fa-power-off btn-xs btn-warning" title="Change Status"></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4"><label class="text-danger">No Record Found</label></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>


