﻿@model DailyBasket.Warehouse.Core.Model.Product.MainCategoryModel
@{
    ViewBag.Title = "Update Product Main Category";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header text-center "><h1>Update Product Main Category</h1></section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-offset-3 col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                @if (TempData["Message"] != null)
                {
                    <div class="col-lg-12 text-center">
                        <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                    </div>
                }
                <!-- form start -->

                <div class="tab">
                    <a class="tablinks active" onclick="openTab(event, 'tab1')" @(TempData["McImageView"] == null ? "id=defaultOpen" : "")>Category Name</a>
                    <a class="tablinks" onclick="openTab(event, 'tab2')" @(TempData["McImageView"] != null ? "id=defaultOpen" : "")>Category Image</a>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("UpdateMainCategory", "ProductCategory", FormMethod.Post, htmlAttributes: new { @enctype = "multipart/form-data", @onsubmit = "return validateMainCategoryUpdateName();" }))
                    {
                        @Html.AntiForgeryToken()
                        <div id="tab1" class="tabcontent">
                            <div class="form-group">
                                @Html.HiddenFor(model => model.MainCategoryId)
                                @Html.LabelFor(model => model.MainCategoryName, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.MainCategoryName, new { htmlAttributes = new { @class = "form-control", @reqduired = "true", @placeholder = "Product Category Name", @onblur = "validateMainCategory();", @onkeyup = "removeValidationMessage(this.id);" } })
                                @Html.ValidationMessageFor(model => model.MainCategoryName, "", new { @class = "text-danger" })
                            </div>
                            <div class="box-footer">
                                <input type="submit" name="submit" value="Update Category" class="btn btn-primary" />
                                <a href="@Url.Action("MainCategoryList", "ProductCategory")" class="btn btn-warning">Cancel</a>
                            </div>
                        </div>
                    }
                    @using (Html.BeginForm("UpdateMainCategory", "ProductCategory", FormMethod.Post, htmlAttributes: new { @enctype = "multipart/form-data", @onsubmit = "return validateMainCategoryUpdateImage();" }))
                    {
                        @Html.AntiForgeryToken()
                        <div id="tab2" class="tabcontent">
                            <div class="form-group">
                                @Html.LabelFor(model => model.MainCategoryName, htmlAttributes: new { @class = "control-label" })
                                @Html.TextBox("DisplayMCN", Model.MainCategoryName, new { @class = "form-control", @disabled = "true", @Value = Model.MainCategoryName })
                            </div>
                            
                                <div class="form-group">
                                    @Html.HiddenFor(model => model.MainCategoryId)
                                    @Html.HiddenFor(model => model.MainCategoryName)
                                    @Html.LabelFor(model => model.MainCategoryImage, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.MainCategoryImage, new { type = "file", @class = "form-control", @required = true, @onchange = "validateProductCategoryImage(this)" })
                                    @Html.ValidationMessageFor(model => model.MainCategoryImage, "", new { @class = "text-danger" })
                                </div>
                                <div class="box-footer">
                                    <input type="submit" name="submit" value="Update Image" class="btn btn-primary" />
                                    <a href="@Url.Action("MainCategoryList", "ProductCategory")" class="btn btn-warning">Cancel</a>
                                </div>
                            </div>
                    }
                </div>

            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
@Scripts.Render("~/bundles/script/async/product-master/product-maincat-form")
@Scripts.Render("~/bundles/script/async/product-master/pcategory-image-validation")
@Scripts.Render("~/bundles/script/tab-switch-script")