﻿@model DailyBasket.Warehouse.Core.Model.Product.SubCategoryModel
@{
    ViewBag.Title = "Update Product Sub Category";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header text-center "><h1>Update Product Main Category</h1></section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-offset-3 col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                @if (TempData["Message"] != null)
                {
                    <div class="col-lg-12 text-center">
                        <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                    </div>
                }
                <!-- form start -->

                <div class="tab">
                    <a class="tablinks active" onclick="openTab(event, 'tab1')" @(TempData["ScImageView"] == null ? "id=defaultOpen" : "")>SubCategory Name</a>
                    <a class="tablinks" onclick="openTab(event, 'tab2')" @(TempData["ScImageView"] != null ? "id=defaultOpen" : "")>SubCategory Image</a>
                </div>
                <div class="box-body">
                    @using (Html.BeginForm("UpdateSubCategory", "ProductCategory", FormMethod.Post, htmlAttributes: new { @enctype = "multipart/form-data", @onsubmit = "return validateSubCategoryUpdateName();" }))
                    {
                        @Html.AntiForgeryToken()
                        <div id="tab1" class="tabcontent">
                            <div class="form-group">
                                @Html.HiddenFor(model => model.SubCategoryId)
                                @Html.HiddenFor(model => model.MainCategoryId)
                                @Html.HiddenFor(model => model.MainCategoryName)
                                @Html.LabelFor(model => model.MainCategoryName, htmlAttributes: new { @class = "control-label" })

                                @Html.TextBox("DisplayMCN", Model.MainCategoryName, new { @class = "form-control", @disabled = "true", @Value = Model.MainCategoryName })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.SubCategoryName, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.SubCategoryName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Sub Category", @required = "true", @onblur = "validateSubCategory();", @onkeyup = "removeValidationMessage(this.id);" } })
                                @Html.ValidationMessageFor(model => model.SubCategoryName, "", new { @class = "text-danger" })

                            </div>
                            <div class="box-footer">
                                <input type="submit" name="submit" value="Update SubCategory" class="btn btn-primary" />
                                <a href="@Url.Action("SubCategoryList", "ProductCategory")" class="btn btn-warning">Cancel</a>
                            </div>
                        </div>
                    }
                    @using (Html.BeginForm("UpdateSubCategory", "ProductCategory", FormMethod.Post, htmlAttributes: new { @enctype = "multipart/form-data", @onsubmit = "return validateSubCategoryUpdateImage();" }))
                    {
                        @Html.AntiForgeryToken()
                        <div id="tab2" class="tabcontent">

                            <div class="form-group">
                                @Html.HiddenFor(model => model.SubCategoryId)
                                @Html.HiddenFor(model => model.MainCategoryId)
                                @Html.HiddenFor(model => model.MainCategoryName)
                                @Html.HiddenFor(model => model.SubCategoryName)
                                @Html.LabelFor(model => model.MainCategoryName, htmlAttributes: new { @class = "control-label" })

                                @Html.TextBox("DisplayMCN", Model.MainCategoryName, new { @class = "form-control", @disabled = "true", @Value = Model.MainCategoryName })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SubCategoryName, htmlAttributes: new { @class = "control-label" })
                                @Html.TextBox("DisplaySCN", Model.SubCategoryName, new { @class = "form-control", @disabled = "true", @Value = Model.SubCategoryName })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.SubCategoryImage, htmlAttributes: new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.SubCategoryImage, new { type = "file", @class = "form-control", @required = true, @onchange = "validateProductCategoryImage(this)" })
                                @Html.ValidationMessageFor(model => model.SubCategoryImage, "", new { @class = "text-danger" })

                            </div>
                            <div class="box-footer">
                                <input type="submit" name="submit" value="Update SubCategory Image" class="btn btn-primary" />
                                <a href="@Url.Action("SubCategoryList", "ProductCategory")" class="btn btn-warning">Cancel</a>
                            </div>
                        </div>
                    }
                </div>

            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
@Scripts.Render("~/bundles/script/async/product-master/product-subcat-form")
@Scripts.Render("~/bundles/script/async/product-master/pcategory-image-validation")
@Scripts.Render("~/bundles/script/tab-switch-script")