﻿@using DailyBasket.Warehouse.Core.Model.Report.Purchase
@{
    BillWisePurchaseModel billWisePurchaseModel= ViewData["viewModel"] as BillWisePurchaseModel;
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/bundles/css/bootstrap")
</head>
<body>
    @if (billWisePurchaseModel != null)
    {
        <h3 style="text-align:center">Franchisee BillWise Purchase Report</h3>
        <section class="content-header text-center">
      <table class="table table-bordered table-hover">
     <tbody>
        <tr>
            <th colspan="6" class="text-center">
                <img src="http://www.dailybaskets.co.in/assets/website/img/db-logo.png" height="40%" width="100%" />
                </th>
            <td colspan="4" class="text-center">
                <h5>
                    @billWisePurchaseModel.FranchiseeName
                </h5>
                <h6>
                    @billWisePurchaseModel.Address, @billWisePurchaseModel.City, @billWisePurchaseModel.State<br />
                    GST NO: @billWisePurchaseModel.GSTIN,
                    CONTACT:+91 @billWisePurchaseModel.Mobile
                </h6>
            </td>
            </tr>
        </tbody>   
    </table>
        </section>

    <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">
                            <table id="example2" border="1" class="table table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <th colspan="6" class="text-center">
                                            Bill_No: @billWisePurchaseModel.Bill_No
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="3" width="50%" class="text-center">
                                            Bill_Date: @billWisePurchaseModel.Bill_Date
                                        </th>
                                        <th colspan="3" width="50%" class="text-center">
                                            Total_Bill_Amount: @billWisePurchaseModel.Total_Bill_Amount
                                        </th>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
    }
    @Scripts.Render("~/bundles/script/bootstrap")
</body>
</html>