﻿@model DailyBasket.Warehouse.Areas.Reports.Models.ViewModels.PurchaseReportList
@{
    ViewBag.Title = "Purchase Reports";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header text-center "><h1>Purchase Reports</h1></section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-offset-3 col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                @if (TempData["Message"] != null)
                {
                    <div class="col-lg-12 text-center">
                        <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                    </div>
                }
                <!-- form start -->
                @using (Html.BeginForm("Purchase", "Purchase", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Report, htmlAttributes: new { @class = "control-label" })

                            @Html.DropDownListFor(model => model.Report, ViewBag.PurchaseReportDdlList != null ? ViewBag.PurchaseReportDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "Select Report Type", htmlAttributes: new { @class = "form-control", @required = true, @id = "rptdropdown" })
                            @Html.ValidationMessageFor(model => model.Report, "", new { @class = "text-danger" })
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-4">
                                <input type="submit" value="OK" class="btn btn-primary btn btn-block btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
