﻿@using DailyBasket.Warehouse.Core.Model.Report.Purchase
@{

    IEnumerable<VendorWisePurchaseModel> Model = ViewData["viewModel"] as IEnumerable<VendorWisePurchaseModel>;
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/bundles/css/bootstrap")
</head>
<body>
    @if (Model != null)
    {
        <h3 style="text-align:center">VendorWise Report Purchase Report</h3>
        <section class="content-header text-center">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <th colspan="6" class="text-center">
                            <img src="http://www.dailybaskets.co.in/assets/website/img/db-logo.png" height="40%" width="100%" />
                        </th>
                        <td colspan="4" class="text-center">
                            <h5>
                                SANKALP SUPER BAZAAR LLP
                            </h5>
                            <h6>
                                INDUSTRIAL ESTATE, MUL ROAD, CHANDRAPUR<br />
                                GST NO:27ADMFS4114J1ZU,
                                CONTACT:+917888083337
                            </h6>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">

                            <table id="example2"  border="1"class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th width="6%">Sr.No.</th>
                                        <th width="10%">Bill&nbsp;Date</th>
                                        <th width="10%">Bill&nbsp;No</th>
                                        <th width="12%">Vendor&nbsp;Name</th>
                                        <th width="12%">Bill&nbsp;Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var index = 1;
                                        double subTotal = 0;
                                        var map = new Dictionary<string, ulong>();
                                        foreach (var vendorProduct in Model)
                                        {
                                            if (map.Count > 0 && map.ContainsValue(vendorProduct.Vendor_Id) != true)
                                            {
                                                <tr font size="2" color="#154360">
                                                    <td colspan="7" width="100%" class="text-center"> SUB TOTAL : @Math.Round(@subTotal, 2)</td>
                                                </tr>
                                                map["vendor_Id"] = vendorProduct.Vendor_Id;
                                                subTotal = 0;
                                            }
                                            else if (map.Count == 0)
                                            {
                                                map["vendor_Id"] = vendorProduct.Vendor_Id;
                                            }
                                            <tr font size="1">
                                                <td>@(index++)</td>
                                                <td>@vendorProduct.Bill_Date</td>
                                                <td>@vendorProduct.Bill_No</td>
                                                <td>@vendorProduct.Vendor_Name</td>
                                                <td>@vendorProduct.Total_Bill_Amount</td>
                                            </tr>
                                            subTotal = subTotal + vendorProduct.Total_Bill_Amount;
                                        }
                                    }
                                </tbody>
                            </table>
                            <table id="example2"  border="1"class="table table-bordered table-hover">
                                <thead>
                                </thead>
                                <tbody>
                                    @{
                                        double grandTotal = 0;
                                        foreach (var item in Model)
                                        {
                                            grandTotal += item.Total_Bill_Amount;
                                        }
                                        <tr font size="2" color="#154360">
                                            <td colspan="3" width="50%" class="text-center">Grand Total :@grandTotal</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
                                        }
    @Scripts.Render("~/bundles/script/bootstrap")
</body>
</html>
