﻿@model DailyBasket.Warehouse.Areas.Reports.Models.ViewModels.PurchaseReportList
@{
    ViewBag.Title = "Vendor Wise Report";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header text-center "><h1>Vendor Wise Report</h1></section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-offset-3 col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                @if (TempData["Message"] != null)
                {
                    <div class="col-lg-12 text-center">
                        <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                    </div>
                }
                <!-- form start -->
                @using (Html.BeginForm("VendorWiseReport", "Purchase", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("SubmitType", "Temperary");
                    <div class="box-body">
                        <div class="form-group">
                           @Html.Label("Report Type", "Report Type", htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Report, null, htmlAttributes: new { @class = "form-control", @readonly = "readonly", @placeholder = "VendorWise" })
                        @Html.ValidationMessageFor(model => model.Report, "", new { @class = "text-danger" })
                        </div>
                        @*<div class="form-group">

                            @Html.LabelFor(model => model.VendorName, htmlAttributes: new { @class = "control-label col-md-4" })
                            @Html.EditorFor(model => model.VendorName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Total Vendor Name" } })
                            @Html.ValidationMessageFor(model => model.VendorName, "", new { @class = "text-danger" })

                        </div>*@
                        @*<div class="col-md-offset-2 col-md-4">
                            <input type="submit" name="submit" id="exporttoexcel" value="Export To Excel" class="btn btn-block btn-primary btn-info" />
                        </div>*@
                        <div class="form-group">

                            <input type="submit" value="Export To PDF" class="btn btn-primary btn-primary" formtarget="_blank" />


                        </div>
                    </div>
                }
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

