﻿@using DailyBasket.Warehouse.Core.Model.Report.Purchase
@{
    IEnumerable<VendorAndProductWisePurchaseModel> Model = ViewData["viewModel"] as IEnumerable<VendorAndProductWisePurchaseModel>;
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><h3 align="center">VendorWise Product Reports - DailyBaskets</h3> </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/bundles/css/bootstrap")
</head>
<body>
    <section class="content-header text-center">
        <table class="table table-bordered table-hover">
            <tbody>
                <tr>
                    <th colspan="6" class="text-center">
                        <img src="http://www.dailybaskets.co.in/assets/website/img/db-logo.png" height="40%" width="100%" />
                    </th>
                    <td colspan="4" class="text-center">
                        <h5>
                            SANKALP SUPER BAZAAR LLP
                        </h5>
                        <h6>
                            INDUSTRIAL ESTATE, MUL ROAD, CHANDRAPUR<br />
                            GST NO:27ADMFS4114J1ZU,
                            CONTACT:+917888083337
                        </h6>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">

                        <table id="example2" border="1" class="table table-bordered table-hover">
                            <thead>
                                <tr font size="2" color="#154360">
                                    <bold>
                                        <th width="6%">Sr.No.</th>
                                        <th width="10%">Bill&nbsp;Date</th>
                                        <th width="10%">Bill&nbsp;No</th>
                                        <th>Product&nbsp;Name</th>
                                        <th width="10%">Quantity</th>
                                        <th width="12%">Bill&nbsp;Amount</th>
                                        <th>Vendor&nbsp;Name</th>
                                    </bold>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    var index = 1;
                                    double grandTotal = 0;
                                    double quantitytotal = 0;
                                    double subTotal = 0;
                                    var map = new Dictionary<string, ulong>();
                                    
                                    // ... Add some keys and values.
                                    foreach (var vendorProduct in Model)
                                    {
                                        if (map.Count > 0 && map.ContainsValue(vendorProduct.Vendor_Id) != true)
                                        {
                                            <tr font size="2" color="#154360">
                                                <td colspan="7" width="100%" class="text-center"> SUB TOTAL : @Math.Round(@subTotal,2)</td>
                                            </tr>
                                            map["vendor_Id"] = vendorProduct.Vendor_Id;
                                            subTotal = 0;
                                        }
                                        else if (map.Count == 0)
                                        {
                                            map["vendor_Id"] = vendorProduct.Vendor_Id;
                                        }
                                     <tr font size="1">
                                        <td>@(index++)</td>
                                        <td>@vendorProduct.Bill_Date</td>
                                        <td>@vendorProduct.Bill_No</td>
                                        <td>@vendorProduct.Product_Name</td>
                                        <td>@vendorProduct.Quantity</td>
                                        <td>@vendorProduct.Total_Bill_Amount</td>
                                        <td>@vendorProduct.Vendor_Name</td>
                                    </tr>
                                    subTotal = subTotal + vendorProduct.Total_Bill_Amount;
                                    quantitytotal += vendorProduct.Quantity;
                                    grandTotal = grandTotal + vendorProduct.Total_Bill_Amount;
                                }

                                    <tr font size="2" color="#154360">
                                        <td colspan="3" width="50%" class="text-center">Quantity Total :@quantitytotal</td>
                                    </tr>

                                    <tr font size="2" color="#154360">
                                        <td colspan="3" width="50%" class="text-center">Grand Total : @Math.Round(@grandTotal, 2)</td>
                                    </tr>
                                }
                                else
                                {
                                    <tr font size="2" color="#154360">
                                        <td colspan="3" width="50%" style="text-align:center" color="Red">No Records Found</td>
                                    </tr>
                                }
                                <tr font size="2" color="#154360">
                                    <td colspan="3" width="50%" style="text-align:center" color="Red">No Records Found</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

    @Scripts.Render("~/bundles/script/bootstrap")
</body>
</html>