﻿@using DailyBasket.Warehouse.Core.Model.Report.Stock
@{
    IEnumerable<CurrentAvailableStockModel> Model = ViewData["viewModel"] as IEnumerable<CurrentAvailableStockModel>;
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/bundles/css/bootstrap")
</head>
<body>
    @if (Model != null)
    {
        <h3 style="text-align:center">Current Stock Report</h3>
        <section class="content-header text-center">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <th colspan="6" class="text-center">
                            <img src="http://www.dailybaskets.co.in/assets/website/img/db-logo.png" height="40%" width="100%" />
                        </th>
                        <td colspan="4" class="text-center">
                            <h5>
                                SANKALP SUPER BAZAAR LLP
                            </h5>
                            <h6>
                                INDUSTRIAL ESTATE, MUL ROAD, CHANDRAPUR<br />
                                GST NO:27ADMFS4114J1ZU,
                                CONTACT:+917888083337
                            </h6>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">

                            <table id="example2" border="1" class="table table-bordered table-hover">
                                <thead>
                                    <tr font size="2" color="#154360">
                                        <bold>
                                            <th width="6%">Sr.No.</th>
                                            <th>Product&nbsp;Name</th>
                                            <th width="6%">Batch&nbsp;No</th>
                                            <th width="6%">MRP</th>
                                            <th width="8%">Purchase&nbsp;Rate</th>
                                            <th width="8%">Quantity</th>
                                            <th width="8%">Online&nbsp;Sale&nbsp;Rate</th>
                                            <th width="8%">Sale&nbsp;Rate&nbsp;A</th>
                                            <th width="8%">Sale&nbsp;Rate&nbsp;B</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var index = 1;
                                        foreach (var currentstock in Model)
                                        {
                                            <tr font size="1">
                                                <td>@(index++)</td>
                                                <td>@currentstock.prod_name</td>
                                                <td>@currentstock.batch_no</td>
                                                <td>@currentstock.mrp</td>
                                                <td>@currentstock.purchase_rate</td>
                                                <td>@currentstock.quantity</td>
                                                <td>@currentstock.online_sale_rate</td>
                                                <td>@currentstock.sale_rate_a</td>
                                                <td>@currentstock.sale_rate_b</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
                                        }
    @Scripts.Render("~/bundles/script/bootstrap")
</body>
</html>
