﻿@model IEnumerable<DailyBasket.Warehouse.Core.Model.Report.Stock.CurrentAvailableStockModel>
@{
    ViewBag.Title = "CurrentAvailableStock";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - DailyBaskets </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    @Styles.Render("~/bundles/css/bootstrap")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <!-- Font Awesome -->
</head>
<body>
    @if (Model != null)
    {
        <section class="content-header text-center">
            <div class="col-sm-12">
                
            </div>
            <div class="col-md-12">
                <div class="col-sm-3">
                    <img src="~/images/tempimgs/logo.png" width="60%" height="60%" />
                </div>
                <div class="col-sm-6">
                    <h4>SANKALP SUPER BAZAAR LLP</h4>
                    <h5>INDUSTRIAL ESTATE, MUL ROAD, CHANDRAPUR</h5>
                    <h6>GST NO:27ADMFS114J1ZU, CONTACT:+91788808333</h6>
                </div>
            </div>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">

                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Sr.No.</th>
                                        <th>Product Name</th>
                                        <th>Batch.No.</th>
                                        <th>MRP</th>
                                        <th>Purchase Rate</th>
                                        <th>Online Sale Rate</th>
                                        <th>Sale Rate A</th>
                                        <th>Sale Rate B</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var index = 1;
                                        foreach (var CurrentStock in Model)
                                        {
                                            <tr>
                                                <td>@(index++)</td>
                                                <td>@CurrentStock.prod_name</td>
                                                <td>@CurrentStock.batch_no</td>
                                                <td>@CurrentStock.mrp</td>
                                                <td>@CurrentStock.purchase_rate</td>
                                                <td>@CurrentStock.online_sale_rate</td>
                                                <td>@CurrentStock.sale_rate_a</td>
                                                <td>@CurrentStock.sale_rate_b</td>
                                                <td>@CurrentStock.quantity</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
                                        }
    @Scripts.Render("~/bundles/script/bootstrap")
</body>
</html>