﻿@model DailyBasket.Warehouse.Areas.Reports.Models.ViewModels.SalesReportList
@{
    ViewBag.Title = "BrandWise Sales Report";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header text-center "><h1>BrandWise Sales Report</h1></section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-offset-3 col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                @if (TempData["Message"] != null)
                {
                    <div class="col-lg-12 text-center">
                        <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                    </div>
                }
                <!-- form start -->
                @using (Html.BeginForm("BrandWise", "Sale", FormMethod.Post, htmlAttributes: new { @enctype = "multipart/form-data", @onsubmit = "return validateSubCategoryForm();" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("SubmitType", "Temperary");
                    <div class="box-body">
                        <div class="form-group">
                           @Html.Label("Report Type", "Report Type", htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Report, null, htmlAttributes: new { @class = "form-control", @readonly = "readonly", @placeholder = "BrandWise" })
                        @Html.ValidationMessageFor(model => model.Report, "", new { @class = "text-danger" })
                        </div>
                    
                         <div class="form-group">
                             @Html.Label("BrandId", "Brand Name", htmlAttributes: new { @class = "control-label" })
                             @Html.TextBox("SelectBrandId", null, htmlAttributes: new { @class = "form-control", @placeholder = "All" })
                             @Html.DropDownList("BrandId", ViewBag.BrandDdlList != null ? ViewBag.BrandDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "All", htmlAttributes: new { @class = "form-control hide-form-field " })<!--hide-form-field-->
                             @Html.ValidationMessage("BrandId", "", new { @class = "text-danger" })

                         </div>
                       
                        <div class="col-md-offset-3 col-md-4">
                            <input type="submit" name="submit" id="exporttoexcel" value="Export To Excel" class="btn btn-block btn-primary btn-info" />
                        </div>

                        <div class="form-group">

                            <input type="submit" value="Export To PDF" class="btn btn-primary btn-primary" formtarget="_blank"/>


                        </div>
                    </div>
                }
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script src="~/scripts/jQuery-2.2.0.min.js"></script>
<script>
    debugger;
    var jsonBrandList =  @Html.Raw(Json.Encode(@ViewBag.BrandDdlList));
    var autoPopulateBrandList = new Array();
    $(document).ready(function () {
        $(jsonBrandList).each(function(index, brand){
            debugger;
        autoPopulateBrandList.push(brand.Text);
    });

    if($("#SelectBrandId").val() !== ''){
        var id = "";
        $(jsonBrandList).each(function(index, brand){
            if(brand.Text== $("#SelectBrandId").val()){
                id = brand.Value;
            }
        });
        $('#BrandId option:selected').removeAttr('selected');
        $("#BrandId option[value='"+id+"']").attr("selected", true);
    }

    $("#SelectBrandId").autocomplete({
        source: autoPopulateBrandList,

        change: function (event, ui) {
            if (!ui.item) {
                this.value = '';
                $('#BrandId option:selected').removeAttr('selected');
                $("#BrandId option[value='']").attr("selected", true);
            }
            else
            {
                var id = "";
                $(jsonBrandList).each(function(index, brand){
                    if(brand.Text==ui.item.value){
                        id = brand.Value;
                    }
                });
                $('#BrandId option:selected').removeAttr('selected');
                $("#BrandId option[value='"+id+"']").attr("selected", true);
            }
        }
    });
    });
</script>
