﻿@model DailyBasket.Warehouse.Areas.Reports.Models.ViewModels.SalesReportList
@{
    ViewBag.Title = "DateWise Sales Report";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header text-center "><h1>DateWise Sales Report</h1></section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-offset-3 col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                @if (TempData["Message"] != null)
                {
                    <div class="col-lg-12 text-center">
                        <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                    </div>
                }
                <!-- form start -->
                @using (Html.BeginForm("dateWiseCustomerOrderSalesModel", "Sale", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("SubmitType", "Temperary");
                    <div class="box-body">
                        <div class="form-group">
                            @Html.Label("Report Type", "Report Type", htmlAttributes: new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.Report, null, htmlAttributes: new { @class = "form-control", @readonly = "readonly", @placeholder = "DateWiseCustomerOrder" })
                            @Html.ValidationMessageFor(model => model.Report, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.From_Date, htmlAttributes: new { @class = "control-label col-md-4" })

                            @Html.EditorFor(model => model.From_Date, new { htmlAttributes = new { @class = "form-control datepicker", @data_inputmask = "'alias':'dd-mm-yyyy'", @onchange = "validateBillDate()", @required = true, @placeholder = "Select From Date" } })
                            @Html.ValidationMessageFor(model => model.From_Date, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.To_Date, htmlAttributes: new { @class = "control-label col-md-4" })

                            @Html.EditorFor(model => model.To_Date, new { htmlAttributes = new { @class = "form-control datepicker", @data_inputmask = "'alias':'dd-mm-yyyy'", @onchange = "validateBillDate()", @required = true, @placeholder = "Select To Date" } })
                            @Html.ValidationMessageFor(model => model.To_Date, "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-offset-3 col-md-4">
                            <input type="submit" name="submit" id="exporttoexcel" value="Export To Excel" class="btn btn-block btn-primary btn-info" />
                        </div>
                        <div class="form-group">

                            <input type="submit" value="Export To PDF" class="btn btn-primary btn-primary" formtarget="_blank" />

                        </div>
                    </div>
                }
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

