﻿@using DailyBasket.Warehouse.Core.Model.Report.Sales
@{
    DateWiseCustomerOrderSalesReportModel Model = ViewData["viewModel"] as DateWiseCustomerOrderSalesReportModel;
}
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        @Styles.Render("~/bundles/css/bootstrap")
    </head>
        <body>
            @if (Model != null)
            {
                <h3 style="text-align:center">DateWise CustomerOrder Sales Report</h3>
                <section class="content-header text-center">
                    <table class="table table-bordered table-hover">
                        <tbody>
                            <tr>
                                <th colspan="6" class="text-center">
                                    <img src="http://www.dailybaskets.co.in/assets/website/img/db-logo.png" height="40%" width="100%" />
                                </th>
                                <td colspan="4" class="text-center">
                                    <h5>
                                        @Model.FranchiseeName
                                    </h5>
                                    <h6>
                                        @Model.Address, @Model.City, @Model.State<br />
                                        GST NO: @Model.GSTIN,
                                        CONTACT:+91 @Model.Mobile
                                    </h6>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>

                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="box">
                                <div class="box-body">

                                    <table id="example2"  border="1" class="table table-bordered table-hover">
                                        <thead>
                                            <tr font size="2" color="#154360">
                                                <bold>
                                                    <th width="6%">Sr.No.</th>
                                                    <th width="10%">Order&nbsp;Date </th>
                                                    <th width="12%">Total&nbsp;Amount</th>
</bold>
</tr>
                                        </thead>
                                        <tbody>
                                            @{
                                                var index = 1;
                                                foreach (var datewise in Model.DateWCOSModel)
                                                {
                                                    <tr font size="1">
                                                        <td>@(index++)</td>
                                                        <td>@datewise.order_date</td>
                                                        <td>@datewise.total_order_amount</td>
                                                   </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                    <table id="example2" border="1" class="table table-bordered table-hover">
                                        <thead>
                                        </thead>
                                        <tbody>
                                            @{
                                               
                                                double grandTotal = 0;
                                                foreach (var item in Model.DateWCOSModel)
                                                {
                                                    grandTotal += item.total_order_amount;
                                                }
                                                <tr font size="2"color="#154360">
                                                    <td colspan="3" width="50%" class="text-center">Grand Total : @grandTotal.ToString("0.00")</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->

                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </section>
                                                }
            @Scripts.Render("~/bundles/script/bootstrap")
        </body>
    </html>
   