﻿@using DailyBasket.Warehouse.Core.Model.Report.Sales
@{
    BillWiseSalesReportModel Model = ViewData["viewModel"] as BillWiseSalesReportModel;
}

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/bundles/css/bootstrap")
</head>
<body>
    @if (Model != null)
    {
        <h3 style="text-align:center">Franchisee BillWise Sales Report</h3>
        <section class="content-header text-center">
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <th colspan="6" class="text-center">
                            <img src="http://www.dailybaskets.co.in/assets/website/img/db-logo.png" height="40%" width="100%" />
                        </th>
                        <td colspan="4" class="text-center">
                            <h5>
                                @Model.FranchiseeName
                            </h5>
                            <h6>
                                @Model.Address, @Model.City, @Model.State<br />
                                GST NO: @Model.GSTIN,
                                CONTACT:+91 @Model.Mobile
                            </h6>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">

                            <table id="example2" border="1" class="table table-bordered table-hover">
                                <thead>
                                    <tr font size="2" color="#154360">
                                        <bold>
                                            <th width="6%">Sr.No.</th>
                                            <th width="10%">Order Id</th>
                                            <th>Customer&nbsp;Name</th>
                                            <th width="10%">Order&nbsp;Date</th>
                                            <th width="12%">Bill&nbsp;Amount</th>
                                        </bold>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var index = 1;
                                        foreach (var billwisesale in Model.BillWSModel)
                                        {
                                            <tr font size="1">
                                                <td>@(index++)</td>
                                                <td>@billwisesale.Corder_Id</td>
                                                <td>
                                                    @billwisesale.First_Name
                                                    @billwisesale.Middle_Name
                                                    @billwisesale.Last_Name
                                                </td>
                                                <td>@billwisesale.Order_Date</td>
                                                <td>@billwisesale.Total_Order_Amount</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                            <table id="example2"  border="1" class="table table-bordered table-hover">
                                <thead>
                                </thead>
                                <tbody>
                                    @{
                                        double grandTotal = 0;
                                        foreach (var item in Model.BillWSModel)
                                        {
                                            grandTotal += item.Total_Order_Amount;
                                        }
                                        <tr font size="2"color="#154360">
                                            <td colspan="3" width="50%" class="text-center">Grand Total :@grandTotal.ToString("0.00")</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
                                        }
    @Scripts.Render("~/bundles/script/bootstrap")
</body>
</html>