﻿@model DailyBasket.Warehouse.Areas.Reports.Models.ViewModels.SalesReportList
@{
    ViewBag.Title = "MainCategoryWise Sales Report";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header text-center "><h1>MainCategoryWise Sales Report</h1></section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-offset-3 col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                @if (TempData["Message"] != null)
                {
                    <div class="col-lg-12 text-center">
                        <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                    </div>
                }
                <!-- form start -->
                @using (Html.BeginForm("MainCategoryWise", "Sale", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("SubmitType", "Temperary");
                    <div class="box-body">
                        <div class="form-group">
                           
                                @Html.Label("Report Type", "Report Type", htmlAttributes: new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Report, null, htmlAttributes: new { @class = "form-control", @readonly = "readonly", @placeholder = "MainCategoryWise" })
                                @Html.ValidationMessageFor(model => model.Report, "", new { @class = "text-danger" })
                           
                        </div>
                        <div class="form-group">
                           
                            @Html.Label("MainCategory", "MainCategory Name", htmlAttributes: new { @class = "control-label" })
                            @Html.TextBox("SelectMainCategoryId", null, htmlAttributes: new { @class = "form-control", @placeholder = "All" })
                            @Html.DropDownList("MainCategoryId", ViewBag.MainCategoryDdlList != null ? ViewBag.MainCategoryDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "All", htmlAttributes: new { @class = "form-control hide-form-field" })
                            @Html.ValidationMessage("MainCategoryId", "", new { @class = "text-danger" })
                        </div>

                        <div class="col-md-offset-3 col-md-4">
                            <input type="submit" name="submit" id="exporttoexcel" value="Export To Excel" class="btn btn-block btn-primary btn-info" />
                        </div>
                        <div class="form-group">

                            <input type="submit" value="Export To PDF" class="btn btn-primary btn-primary" formtarget="_blank"/>


                        </div>
                    </div>
                }
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script src="~/scripts/jQuery-2.2.0.min.js"></script>
<script>
    var jsonMCList = @Html.Raw(Json.Encode(@ViewBag.MainCategoryDdlList));
    var autoPopulateMCList = new Array();
    debugger;
    $(document).ready(function () {
        $(jsonMCList).each(function(index, MainCategory){
            autoPopulateMCList.push(MainCategory.Text);
        });

        if($("#SelectMainCategoryId").val() !== ''){
            var id = ""; 
            $(jsonMCList).each(function(index, MainCategory){
                if(MainCategory.Text == $("#SelectMainCategoryId").val()){
                    id = MainCategory.Value;
                }
            });
            $('#MainCategoryId option:selected').removeAttr('selected');
            $("#MainCategoryId option[value='"+id+"']").attr("selected", true);
        }

        $("#SelectMainCategoryId").autocomplete({
            source: autoPopulateMCList,

            change: function (event, ui) {
                if (!ui.item) {
                    this.value = '';
                    $('#MainCategoryId option:selected').removeAttr('selected');
                    $("#MainCategoryId option[value='']").attr("selected", true);
                    
                }
                else
                {
                    debugger;
                    var id = "";
                    $(jsonMCList).each(function(index, MainCategory){
                        if(MainCategory.Text==ui.item.value){
                            id = MainCategory.Value;
                        }
                    });
                    $('#MainCategoryId option:selected').removeAttr('selected');
                    $("#MainCategoryId option[value='"+id+"']").attr("selected", true);
                    $("#MainCategoryId").val(id);
                }
            }
        });
    });
</script>