﻿@model DailyBasket.Warehouse.Areas.Reports.Models.ViewModels.SalesReportList
@{
    ViewBag.Title = "SubCategoryWise Sales Report";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header text-center "><h1>SubCategoryWise Sales Report</h1></section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-offset-3 col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                @if (TempData["Message"] != null)
                {
                    <div class="col-lg-12 text-center">
                        <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                    </div>
                }
                <!-- form start -->
                @using (Html.BeginForm("SubCategoryWise", "Sale", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("SubmitType", "Temperary");
                    <div class="box-body">
                        <div class="form-group">
                            @Html.Label("Report Type", "Report Type", htmlAttributes: new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.Report, null, htmlAttributes: new { @class = "form-control", @readonly = "readonly", @placeholder = "SubCategoryWise" })
                            @Html.ValidationMessageFor(model => model.Report, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">

                            @Html.Label("SubCategoryId", "SubCategory Name", htmlAttributes: new { @class = "control-label" })
                            @Html.TextBox("SelectSubCategoryId", null, htmlAttributes: new { @class = "form-control", @placeholder = "All" })
                            @Html.DropDownList("SubCategoryId", ViewBag.SubCategoryDdlList != null ? ViewBag.SubCategoryDdlList as SelectList : Enumerable.Empty<SelectListItem>(), " All ", htmlAttributes: new { @class = "form-control hide-form-field " })<!--hide-form-field-->
                            @Html.ValidationMessage("SubCategoryId", "", new { @class = "text-danger" })

                        </div>

                        <div class="col-md-offset-3 col-md-4">
                            <input type="submit" name="submit" id="exporttoexcel" value="Export To Excel" class="btn btn-block btn-primary btn-info" />
                        </div>
                        <div class="form-group">

                            <input type="submit" value="Export To PDF" class="btn btn-primary btn-primary" formtarget="_blank"/>


                        </div>
                    </div>
                }
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
<script src="~/scripts/jQuery-2.2.0.min.js"></script>

<script>
    var autoPopulateSCList = new Array();
    var subCategory;
    var jsonSCList = @Html.Raw(Json.Encode(@ViewBag.SubCategoryDdlList));
    $(document).ready(function () {
        debugger;
        $(jsonSCList).each(function(index, subCategory){
            autoPopulateSCList.push(subCategory.Text);
        });
        if($("#SelectSubCategoryId").val() !== ''){
            debugger;
            var id = "";
            $(jsonSCList).each(function(index, subCategory){
                if(subCategory.Text == $("#SelectSubCategoryId").val()){
                    id = subCategory.Value;
                }
            });
            $('#SubCategoryId option:selected').removeAttr('selected');
            $("#SubCategoryId option[value='"+id+"']").attr("selected", true);
            $("#SubCategoryId").val(id);
        }


        $("#SelectSubCategoryId").autocomplete({
            source: autoPopulateSCList,

            change: function (event, ui) {
                debugger;
                if (!ui.item) {
                    this.value = '';
                    $('#SubCategoryId option:selected').removeAttr('selected');
                    $("#SubCategoryId option[value='']").attr("selected", true);
                }
                else
                {
                    var id = "";
                    $(jsonSCList).each(function(index, subCategory){
                        if(subCategory.Text == ui.item.value){
                            id = subCategory.Value;
                        }
                    });
                    $('#SubCategoryId option:selected').removeAttr('selected');
                    $("#SubCategoryId option[value='"+id+"']").attr("selected", true);
                    $("#SubCategoryId").val(id);
                }
            }
        });
    });
</script>