﻿@model DailyBasket.Warehouse.Core.Model.Delivery.Trip
@using DailyBasket.Warehouse.Areas.Delivery.Models.ViewModels
@{
    ViewBag.Title = "Create Trip";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";

    List<TripOrderViewModel> tripOrdersList = (List<TripOrderViewModel>)ViewBag.TripOrderViewModelList;
}

<section class="content-header text-center">
    <h1>Create Delivery Trip</h1>
</section>
<!-- / Content Header (Page header) -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="clearfix"></div>
                <!-- /.box-header -->
                <div class="box-body">
                    @if (TempData["Message"] != null)
                    {
                        <div class="col-lg-12 text-center">
                            <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                        </div>
                    }
                    @using (Html.BeginForm("CreateTrip", "Trip", FormMethod.Post, htmlAttributes: new { @onsubmit = "return validatePop()" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.DeliveryBoyId, htmlAttributes: new { @class = "control-label" })

                                @Html.DropDownListFor(model => model.DeliveryBoyId, ViewBag.DeliveryBoyDdlList != null ? ViewBag.DeliveryBoyDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "Select Delivery Boy", htmlAttributes: new { @class = "form-control", @required = "true" })
                                @Html.ValidationMessageFor(model => model.DeliveryBoyId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.TripDate, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.TripDate, new { htmlAttributes = new { @class = "form-control datepicker", @data_inputmask = "'alias':'dd-mm-yyyy'", @onchange = "validateExpiryDate()", @placeholder = "Enter Trip Date", @required = "true" } })
                                @Html.ValidationMessageFor(model => model.TripDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Vehicle, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.Vehicle, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Vehicle Name/No", @required = "true" } })
                                @Html.ValidationMessageFor(model => model.Vehicle, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <hr />
                        <div class="col-md-12">@Html.ValidationMessageFor(model => model.OrderIds, "", new { @class = "text-danger pull-right" })</div>
                        
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Sr. No</th>
                                    <th>Name</th>
                                    <th>Address</th>
                                    <th>Order Amount</th>
                                    <th class="text-center">Select</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (tripOrdersList != null && tripOrdersList.Any())
                                {
                                    var index = 1;
                                    foreach (var order in tripOrdersList)
                                    {
                                        <tr>
                                            <td>@(index++)</td>
                                            <td>@order.CustomerName</td>
                                            <td>@order.Address</td>
                                            <td>@order.OrderAmount</td>
                                            <td class="text-center fontset">
                                                @if (Model != null)
                                                {
                                                    <input type="checkbox" name="OrderIds[]" value="@order.OrderId" checked="@(Model.OrderIds != null ? tripOrdersList.Any(torder => Model.OrderIds.Contains(order.OrderId)) : false)" />
                                                }
                                                else
                                                {
                                                    <input type="checkbox" name="OrderIds[]" value="@order.OrderId" />
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td colspan="5"><label class="text-danger">No Record Found</label></td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <div class="clearfix"></div>
                        <div class="col-md-offset-3 col-md-2">
                            <input type="submit" name="submit" id="submit" value="Create Trip" class="btn btn-block btn-primary btn-info" />
                        </div>
                        <div class="col-md-2">
                            <input type="reset" value="Reset" class="btn btn-block btn-primary btn-warning" />
                        </div>
                        <div class="clearfix"></div>
                    }
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>
