﻿@model DailyBasket.Warehouse.Areas.Delivery.Models.ViewModels.TripViewModel
@{
    ViewBag.Title = "OnHoldDelivery Trip Orders";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header text-center">
    <h1>OnHoldDelivery Trip</h1>
</section>
<!-- / Content Header (Page header) -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="clearfix"></div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Trip No:</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>@Model.TripId</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Trip Date:</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>@Model.TripDate</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Vehicle Name/No:</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>@Model.Vehicle</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Delivery Boy Name</label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <label>@Model.DeliveryBoyName</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    <!-- Main content -->
                    <section class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="box-body">
                                        <table id="example2" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Sr.No.</th>
                                                    <th>Order Id</th>
                                                    <th>Customer Name</th>
                                                    <th>Address</th>
                                                    <th>Order Status</th>
                                                    <th>Order Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.TripOrderList != null && Model.TripOrderList.Any())
                                                {
                                                    var index = 1;
                                                    foreach (var tripOrder in Model.TripOrderList)
                                                    {
                                                        <tr>
                                                            <td>@(index++)</td>
                                                            <td>@tripOrder.OrderId</td>
                                                            <td>@tripOrder.CustomerName</td>

                                                            <td>@tripOrder.Address</td>
                                                            <td>@tripOrder.OrderStatus</td>
                                                            <td><i class="fa fa-inr"></i> @tripOrder.OrderAmount</td>
                                                        </tr>
                                                    }
                                                    <tr>
                                                        <th colspan="5" class="text-right">Grand Total</th>
                                                        <td><i class="fa fa-inr"></i> @Model.GrandTotal</td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="6"><label class="text-danger">No Record Found</label></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->

                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </section>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>

