﻿@model IEnumerable<DailyBasket.Warehouse.Core.Model.Delivery.Trip>
@{
    ViewBag.Title = "OnHold Delivery Trips";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header">
    <div class="col-sm-10 col-xs-12 text-center">
        <h1>
            On Hold Delivery List
        </h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Sr. No</th>
                                <th>Trip No</th>
                                <th>Trip Date</th>
                                <th>Vehicle Name/No</th>
                                <th>Delivery Boy Name</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                var index = 1;
                                foreach (var trip in Model)
                                {

                                    <tr>
                                        <td>@(index++)</td>
                                        <td>@trip.TripId</td>
                                        <td>@trip.TripDate</td>
                                        <td>@trip.Vehicle</td>
                                        <td>@trip.DeliveryBoyName</td>

                                        <td class="text-center fontset">
                                            <a href="@Url.Action("OnHoldDeliveryTripOrders", "Trip", new { Area = "Delivery", @tripId = trip.TripId })" class="fa fa-eye btn-xs btn-warning" title="View"></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6"><label class="text-danger">No Record Found</label></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>






