﻿@model DailyBasket.Warehouse.Areas.Sale.Models.ViewModels.CustomerOrdersViewModels
@{
    ViewBag.Title = "Print Order";
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - DailyBaskets </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    @Styles.Render("~/bundles/css/bootstrap")
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />
    <!-- Font Awesome -->
</head>
<body>
    @if (Model != null)
    {
    <section class="content-header text-center">
        <div class="col-sm-12">
            <h2><label>Tax INVOICE</label></h2>
        </div>
        <div class="col-sm-12">
            <h3>SANKALP SUPER BAZAAR LLP</h3>
            <h4>INDUSTRIAL ESTATE, MUL ROAD, CHANDRAPUR</h4>
            <h5>GST NO:27ADMFS4114J1ZU, CONTACT:+917888083337</h5>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <th colspan="6" class="text-center">
                                            ORDER ID: @Model.Id
                                        </th>
                                    </tr>
                                    <tr>
                                        <th colspan="3" width="50%" class="text-center">
                                            Order Date: @Model.OrderDate
                                        </th>
                                        <th colspan="3" width="50%" class="text-center">
                                            Payment Mode: @Model.PaymentMode
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>Customer Name</th>
                                        <td colspan="6">@Model.FirstName @Model.MiddleName @Model.LastName</td>
                                    </tr>
                                    <tr>
                                        <th>Mobile No</th>
                                        <td colspan="3">@Model.Mobile</td>
                                        <th>Email Id</th>
                                        <td colspan="3">@Model.Email</td>
                                    </tr>
                                    <tr>
                                        <th>Address</th>
                                        <td colspan="5">
                                            @Model.Locality, @Model.Address, @Model.City
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Customer GST No</th>
                                        <td colspan="5">
                                            @Model.GstNo
                                        </td>
                                    </tr>
                                    <tr>
                                        <!--th>Transaction&nbsp;Id</!--th>
                                        <td colspan="2">@Model.TransactionId</td-->
                                        <th>Payment Status</th>
                                        <td colspan="3">@Model.OrderPaymentStatus</td>
                                        <th>Order Amount</th>
                                        <td colspan="3"><i class="fa fa-inr"></i> @Math.Round(Model.OrderAmount)</td>
                                    </tr>
                                </tbody>
                            </table>
                        <hr />
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Sr.No.</th>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>MRP</th>
                                    <th>Sale Rate</th>
                                    <th>Total Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var index = 1;
                                    foreach (var Order in Model.customersOrders)
                                    {
                                        <tr>
                                            <td>@(index++)</td>
                                            <td>@Order.ProductName</td>
                                            <td>@Order.Quantity</td>
                                            <td>@Order.Mrp</td>
                                            <td><i class="fa fa-inr"></i> @Order.Sale_Rate</td>
                                            <td><i class="fa fa-inr"></i> @Order.TotalAmount</td>
                                        </tr>
                                    }

                                    <tr>
                                        <th colspan="2" class="text-right">Total Quantity</th>
                                        <td><i class="fa fa-inr"></i> @Model.QuantityCount</td>
                                        <th colspan="2" class="text-right">Total Amount</th>
                                        <td><i class="fa fa-inr"></i> @Model.ProductTotalAmount</td>
                                    </tr>

                                    if (Model.ExtraCharges > 0)
                                    {
                                        <tr>
                                            <th colspan="5" class="text-right">Sodexo Payment Charges</th>
                                            <td><i class="fa fa-inr"></i> @Model.ExtraCharges</td>
                                        </tr>
                                    }
                                    if (Model.DeliveryCharges > 0)
                                    {
                                        <tr>
                                            <th colspan="5" class="text-right">Delivery Charges</th>
                                            <td><i class="fa fa-inr"></i> @Model.DeliveryCharges</td>
                                        </tr>
                                    }
                                    <tr>
                                        <th colspan="5" class="text-right">Total Order Amount</th>
                                        <td ><i class="fa fa-inr"></i> @Math.Round(Model.OrderAmount)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <div class="col-sm-12 pull-right">
                            <table border="0">
                                <tr>
                                    <th class="text-right">Total Bill Saving: </th>
                                    <td>@String.Format("{0:0.00}", Model.SavingAmount)</td>
                                </tr>
                                <tr>
                                    <th class="text-right">Total GST Amount: </th>
                                    <td>@String.Format("{0:0.00}", Model.GstAmount)</td>
                                </tr>
                            </table>
                        </div>
                        @*End of Normal View*@

                        
                        @if (Model.customersOrdersWithReturnGoods != null)
                        {
                            <hr /><br />
                            <section class="content-header ">
                                <div class="col-sm-12">
                                    <h3>Return Goods</h3>
                                </div>
                            </section>
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Sr.No.</th>
                                    <th>Product Name</th>
                                    <th>Quantity</th>
                                    <th>MRP</th>
                                    <th>Sale Rate</th>
                                    <th>Total Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var indexg = 1;
                                    foreach (var OrderWRG in Model.customersOrdersWithReturnGoods)
                                    {
                                        <tr>
                                            <td>@(indexg++)</td>
                                            <td>@OrderWRG.ProductName</td>
                                            <td>@OrderWRG.Quantity</td>
                                            <td>@OrderWRG.Mrp</td>
                                            <td><i class="fa fa-inr"></i> @OrderWRG.Sale_Rate</td>
                                            <td><i class="fa fa-inr"></i> @OrderWRG.TotalAmount</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <div class="col-sm-12 pull-right">
                            <table border="0">
                                <tr>
                                    <th class="text-right">Total Return Goods Amount: </th>
                                    <td>@String.Format("{0:0.00}", Model.ProductTotalAmountofReturnGoods)</td>
                                </tr>
                            </table>
                        </div>
                                    }
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    }
    @Scripts.Render("~/bundles/script/bootstrap")
</body>
</html>
