﻿@using DailyBasket.Warehouse.Core.Enum
@model DailyBasket.Warehouse.Core.Model.Users.UserModel
@{
    ViewBag.Title = "Update Warehouse User";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header text-center">
    <h1>Update Warehouse User</h1>
</section>
<!-- / Content Header (Page header) -->
<!-- Main content -->

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="clearfix"></div>
                <!-- /.box-header -->
                <div class="box-body">
                    @if (TempData["Message"] != null)
                    {
                        <div class="col-lg-12 text-center">
                            <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                        </div>
                    }
                    @using (Html.BeginForm("Update", "WarehouseUser", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.UserType, htmlAttributes: new { @class = "control-label col-md-4" })

                                @*@Html.EditorFor(model => model.UserType, new { htmlAttributes = new { @class = "form-control" } })*@

                                @Html.DropDownListFor(model => model.UserType, ViewBag.UserTypeDdlList != null ? ViewBag.UserTypeDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "Select User Type", htmlAttributes: new { @class = "form-control", @required = "true" })
                                @Html.ValidationMessageFor(model => model.UserType, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })

                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = " Enter User Name", @required = true } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })

                                    @Html.TextAreaFor(model => model.Address, 3, 0, new { @class = "form-control", @placeholder = "Enter Full Address", @required = true })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })

                                    @Html.DropDownListFor(model => model.Gender, ViewBag.GenderDdlList != null ? ViewBag.GenderDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "Select Gender", htmlAttributes: new { @class = "form-control", @required = true })
                                    @*@Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })*@
                                    @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-4" })

                                    @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "Enter Date of Birth", @required = true } })
                                    @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label col-md-4" })

                                    @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile Number", @required = true } })
                                    @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.AltMobile, htmlAttributes: new { @class = "control-label col-md-6" })

                                    @Html.EditorFor(model => model.AltMobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Alternate Mobile Number" } })
                                    @Html.ValidationMessageFor(model => model.AltMobile, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                        @Html.TextBox("DisplayEmail", Model.Email, new { @class = "form-control", @placeholder = "Enter Email Address", @readonly = true })
                                        @Html.HiddenFor(model => model.Email, new { htmlAttributes = new { @required = true } })
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })

                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Password" } })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-4" })

                                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Re-enter Password" } })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <span class="col-md-2">@Html.RadioButtonFor(model => model.Status, (int)Status.Active, new { htmlAttributes = new { @required = true } }) Active</span>
                                        <span class="col-md-2">@Html.RadioButtonFor(model => model.Status, (int)Status.Inactive, new { htmlAttributes = new { @required = true } }) Inactive</span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="form-group">
                                        <div class="col-md-offset-3 col-md-3">
                                            <input type="submit" value="Update" class="btn btn-block btn-primary" />
                                        </div>
                                        <div class="col-md-3">
                                            <input type="reset" value="Reset" class="btn btn-warning btn-block" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                    }
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>
