﻿@model DailyBasket.Warehouse.Core.Model.Users.FranchiseeModel

@{
    ViewBag.Title = "UpdateFranchisee";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header text-center">
    <h1>Update Franchise Details</h1>
</section>
<!-- / Content Header (Page header) -->
<!-- Main content -->

<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="clearfix"></div>
                <!-- /.box-header -->
                <div class="box-body">
                    @if (TempData["Message"] != null)
                    {
                        <div class="col-lg-12 text-center">
                            <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                        </div>
                    }
                    @using (Html.BeginForm("", "", FormMethod.Post, htmlAttributes: new { @onsubmit = "return validateFranchisee();" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CompanyName, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control", @placeholder = " Enter Company Name", @required = true } })
                                    @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FranchiseName, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.FranchiseName, new { htmlAttributes = new { @class = "form-control", @placeholder = " Enter Franchisee Name", @required = true } })
                                    @Html.ValidationMessageFor(model => model.FranchiseName, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.OwnerName, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.OwnerName, new { htmlAttributes = new { @class = "form-control", @placeholder = " Enter Owner Name", @required = true } })

                                @Html.ValidationMessageFor(model => model.OwnerName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = " Enter Phone No." } })

                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Mobile Number", @required = true, @readonly = true } })
                                @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.AlteMobile, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.AlteMobile, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Alternate Mobile Number" } })
                                @Html.ValidationMessageFor(model => model.AlteMobile, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.OfficialEmailId, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.OfficialEmailId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Email Address" } })
                                    @Html.ValidationMessageFor(model => model.OfficialEmailId, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label" })

                                    @Html.TextAreaFor(model => model.Address, 3, 0, new { @class = "form-control", @placeholder = "Enter Full Address", @required = true })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", @placeholder = " Enter State", @required = true } })

                                @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @placeholder = " Enter City", @required = true } })

                                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                            </div>
                        </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Pincode, htmlAttributes: new { @class = "control-label" })

                                        @Html.EditorFor(model => model.Pincode, new { htmlAttributes = new { @class = "form-control", @placeholder = " Enter Pincode", @required = true } })

                                        @Html.ValidationMessageFor(model => model.Pincode, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="clearfix"></div>

                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ContactPersonName, htmlAttributes: new { @class = "control-label" })

                                        @Html.EditorFor(model => model.ContactPersonName, new { htmlAttributes = new { @class = "form-control", @placeholder = " Enter Contact Person Name", @required = true } })

                                        @Html.ValidationMessageFor(model => model.ContactPersonName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CPMobileNo, htmlAttributes: new { @class = "control-label" })

                                        @Html.EditorFor(model => model.CPMobileNo, new { htmlAttributes = new { @class = "form-control", @placeholder = " Enter Contact Person Mobile", @required = true } })

                                        @Html.ValidationMessageFor(model => model.CPMobileNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.CPEmail, htmlAttributes: new { @class = "control-label" })

                                        @Html.EditorFor(model => model.CPEmail, new { htmlAttributes = new { @class = "form-control", @placeholder = " Enter Contact Person Email" } })

                                        @Html.ValidationMessageFor(model => model.CPEmail, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                               

                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.GSTNO, htmlAttributes: new { @class = "control-label" })

                                        @Html.EditorFor(model => model.GSTNO, new { htmlAttributes = new { @class = "form-control", @placeholder = " Enter GST No.", @onblur = "validateGSTINumber();", @onkeyup = "removeValidationMessage(this.id);", @required = true } })

                                        @Html.ValidationMessageFor(model => model.GSTNO, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="clearfix"></div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })

                                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = " Enter Password", @required = true } })

                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label" })

                                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = " Confirm Password", @required = true } })

                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                               
                                <div class="clearfix"></div>

                                <div class="col-md-offset-3 col-md-3">
                                    <input type="submit" value="Submit" class="btn btn-block btn-primary btn-primary" />
                                </div>
                                <div class="col-md-3">
                                    <input type="reset" value="Reset" class="btn btn-warning btn btn-block btn-primary" />
                                </div>
                    }
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>
@Scripts.Render("~/bundles/script/async/users/franchisee-update-form-validation")