﻿@model IEnumerable<DailyBasket.Warehouse.Areas.Users.Models.ViewModels.FranchiseeViewModel>

@{
    ViewBag.Title = "ViewWarehouseUsers";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header">
    <div class="col-sm-10 col-xs-12 text-center">
        <h1>
            Franchisees List
        </h1>
    </div>
    @*<div class="col-sm-2 col-xs-12">
        <h1>
            @Html.ActionLink("Add Product", "AddProduct", "Product", new { Area = "ProductMaster" }, new { @class = "btn btn-info pull-right" })
        </h1>
    </div>*@
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Sr. No</th>
                                <th>Company Name</th>
                                <th>Franchisee Name</th>
                                <th>Owner Name</th>
                                <th>Address</th>
                                <th>Mobile No.</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                var index = 1;
                                foreach (var franchisees in Model)
                                {

                                    <tr>
                                        <td>@(index++)</td>
                                        <td>@franchisees.CompanyName</td>
                                        <td>@franchisees.FranchiseName</td>
                                        <td>@franchisees.OwnerName</td>
                                        <td>@franchisees.Address</td>
                                        <td>@franchisees.Mobile</td>
                                        <td class="text-center fontset">
                                            <a href="@Url.Action("UpdateFranchisee", "WarehouseUser", new { Area = "Users", @franchiseeId = franchisees.Id })" class="fa fa-edit btn-xs btn-warning" title="Update"></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="8"><label class="text-danger">No Record Found</label></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>


