﻿@model DailyBasket.Warehouse.Core.Model.Product.BrandModel
@{
    ViewBag.Title = "Add Brand";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header text-center"><h1>Add Brand</h1></section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-offset-3 col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                @if (TempData["Message"] != null)
                {
                    <div class="col-lg-12 text-center">
                        <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                    </div>
                }
                <!-- form start -->
                @using (Html.BeginForm("AddBrand", "Brand", FormMethod.Post, htmlAttributes: new { @enctype = "multipart/form-data", @onsubmit = "return validateBrandForm();" }))
                {
                    @Html.AntiForgeryToken()

                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })

                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Brand Name", @required = true, @onkeyup = "removeValidationMessage(this.id);" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.BrandImage, htmlAttributes: new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.BrandImage, new { type = "file", @class = "form-control", @required = true, @onchange = "validateProductBrandImage(this)" })
                            @Html.ValidationMessageFor(model => model.BrandImage, "", new { @class = "text-danger" })

                        </div>

                        <div class="box-footer">
                            <input type="submit" value="Submit" class="btn btn-primary" />
                            <input type="reset" value="Reset" class="btn btn-warning" />
                        </div>
                    </div>
                }
            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
@Scripts.Render("~/bundles/script/async/product-master/brand-form-validation")
@Scripts.Render("~/bundles/script/async/product-master/pbrand-image-validation")
