﻿@model IEnumerable<DailyBasket.Warehouse.Core.Model.Product.BrandModel>
@{
    ViewBag.Title = "Brands";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header">
    <div class="col-sm-10 col-xs-12 text-center">
        <h1>
            Brand List
        </h1>
    </div>
    <div class="col-sm-2 col-xs-12">
        <h1>
            @Html.ActionLink("Add Brand", "AddBrand", "Brand", new { Area = "ProductMaster" }, new { @class = "btn btn-info pull-right" })
        </h1>
</div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Sr.No.</th>
                                <th>Brand Name</th>
                                <th>Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                var index = 1;
                                foreach (var brand in Model)
                                {

                                    <tr>
                                        <td>@(index++)</td>
                                        <td>@brand.Name</td>
                                        <td>@(brand.Status != 0 ? "Active" : "Inactive")</td>
     
                                        <td class="text-center fontset">
                                             <a href="@Url.Action("UpdateBrand", "Brand", new { Area = "ProductMaster", @brandId = brand.Id })" class="fa fa-edit btn-xs btn-warning" title="Update"></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4"><label class="text-danger">No Record Found</label></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>


