﻿@model DailyBasket.Warehouse.Core.Model.Product.BrandModel
@{
    ViewBag.Title = "Update Brand";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header text-center"><h1>Update Brand</h1></section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-offset-3 col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                @if (TempData["Message"] != null)
                {
                    <div class="col-lg-12 text-center">
                        <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                    </div>
                }
                <div class="tab">
                    <a class="tablinks active" onclick="openTab(event, 'tab1')" @(TempData["BImageView"] == null ? "id=defaultOpen" : "")>Brand Name</a>
                    <a class="tablinks" onclick="openTab(event, 'tab2')" @(TempData["BImageView"] != null ? "id=defaultOpen" : "")>Brand Image</a>
                </div>
                <!-- form start -->
                <div class="box-body">
                    @using (Html.BeginForm("UpdateBrand", "Brand", FormMethod.Post, htmlAttributes: new { @enctype = "multipart/form-data", @onsubmit = "return validateBrandUpdateName();" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        <div id="tab1" class="tabcontent">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Brand Name", @required = true, @onkeyup = "removeValidationMessage(this.id);" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

                            </div>
                            <div class="box-footer">
                                <input type="submit" name="submit" value="Update Brand" class="btn btn-primary" />
                                <a href="@Url.Action("BrandList", "Brand", new { @Area = "ProductMaster" })" class="btn btn-warning">Cancel</a>
                            </div>
                        </div>
                    }
                    @using (Html.BeginForm("UpdateBrand", "Brand", FormMethod.Post, htmlAttributes: new { @enctype = "multipart/form-data", @onsubmit = "return validateBrandUpdateImage();" }))
                    {
                        @Html.AntiForgeryToken()
                        <div id="tab2" class="tabcontent">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                                @Html.TextBox("DisplayBN", Model.Name, new { @class = "form-control", @disabled = "true", @Value = Model.Name })

                            </div>
                            <div class="form-group">
                                @Html.HiddenFor(model => model.Id)
                                @Html.HiddenFor(model => model.Name)
                                @Html.LabelFor(model => model.BrandImage, htmlAttributes: new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.BrandImage, new { type = "file", @class = "form-control", @required = true, @onchange = "validateProductBrandImage(this)" })
                                @Html.ValidationMessageFor(model => model.BrandImage, "", new { @class = "text-danger" })
                            </div>
                            <div class="box-footer">
                                <input type="submit" name="submit" value="Update Image" class="btn btn-primary" />
                                <a href="@Url.Action("BrandList", "Brand", new { @Area = "ProductMaster" })" class="btn btn-warning">Cancel</a>
                            </div>
                        </div>
                    }
                </div>

            </div>
            <!-- /.box -->
        </div>
    </div>
    <!-- /.row -->
</section>
@Scripts.Render("~/bundles/script/async/product-master/brand-form-validation")
@Scripts.Render("~/bundles/script/async/product-master/pbrand-image-validation")
@Scripts.Render("~/bundles/script/tab-switch-script")
