﻿@model IEnumerable<DailyBasket.Warehouse.Core.Model.WebApp.OfferModel>
@{
    ViewBag.Title = "Active Offers";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}


<section class="content-header">
    <div class="col-sm-12 col-xs-12 text-center">
        <h1>
            Active Offers
        </h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Sr. No</th>
                                <th>Promocode</th>
                                <th>Offer Type</th>
                                <th>Order Amount</th>
                                <th>Offer Amount</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                var index = 1;
                                foreach (var offer in Model)
                                {
                                    <tr>
                                        <td>@(index++)</td>
                                        <td>@offer.Promocode</td>
                                        <td>@offer.OfferType</td>
                                        <td>@offer.ApplicableAmount</td>
                                        <td>@offer.OfferAmount</td>
                                        <td>@offer.StartDate</td>
                                        <td>@offer.EndDate</td>
                                        <td class="text-center fontset">
                                            <a href="@Url.Action("UpdateOfferStatus", "Offers", new { Area = "WebApp", @offerId = offer.OfferId })" class="fa fa-power-off btn-xs btn-warning" title="Deactivate"></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7"><label class="text-danger">No Record Found</label></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>


