﻿@using DailyBasket.Warehouse.Core.Model.DropDownList
@model DailyBasket.Warehouse.Core.Model.WebApp.OfferModel
@{
    ViewBag.Title = "Add Offer";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
    List<IntStringDdlModel> SubCategoryList = (List<IntStringDdlModel>)ViewBag.SubCategoryList;
}

<section class="content-header text-center">
    <h1>Add New Offer</h1>
</section>
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="clearfix"></div>
                <!-- /.box-header -->
                <div class="box-body">
                    @if (TempData["Message"] != null)
                    {
                        <div class="col-lg-12 text-center">
                            <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                        </div>
                    }
                    @using (Html.BeginForm("AddOffer", "Offers", FormMethod.Post, htmlAttributes: new { @enctype = "multipart/form-data", @onsubmit = "return validateOfferForm();" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.OfferTypeId, htmlAttributes: new { @class = "control-label" })

                                @Html.DropDownListFor(model => model.OfferTypeId, ViewBag.OfferTypeDdlList != null ? ViewBag.OfferTypeDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "Select Offer Type", htmlAttributes: new { @class = "form-control", @required = true })
                                @Html.ValidationMessageFor(model => model.OfferTypeId, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Promocode, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.Promocode, new { htmlAttributes = new { @class = "form-control", @required = true, @placeholder = "Promo Code", @onchange = "isPromocodeExists()", @onkeyup = "removeValidationMessage(this.id);" } })
                                @Html.ValidationMessageFor(model => model.Promocode, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ApplicableAmount, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.ApplicableAmount, new { htmlAttributes = new { @class = "form-control", @required = true, @placeholder = "Minimum Applicable Order Amount", @onkeyup = "removeValidationMessage(this.id);" } })
                                @Html.ValidationMessageFor(model => model.ApplicableAmount, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.OfferAmount, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.OfferAmount, new { htmlAttributes = new { @class = "form-control", @required = true, @placeholder = "Order Offer Amount", @onkeyup = "removeValidationMessage(this.id);" } })
                                @Html.ValidationMessageFor(model => model.OfferAmount, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control datepicker", @data_inputmask = "'alias':'dd-mm-yyyy'", @onchange = "validateStartDate()", @placeholder = "Select Start Date" } })
                                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control datepicker", @data_inputmask = "'alias':'dd-mm-yyyy'", @onchange = "validateEndDate()", @placeholder = "Select End Date" } })
                                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="clearfix"></div>


                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.Label("Offers will not applicable for checked SubCategories", htmlAttributes: new { @class = "control-label" })

                            </div>
                        </div>
                        <div class="clearfix"></div>

                        if (SubCategoryList != null && SubCategoryList.Any())
                        {
                            foreach (var SubCategory in SubCategoryList)
                            {
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @if (Model != null)
                                        {
                                            <input type="checkbox" name="SubCategoryIds[]" value="@SubCategory.Id" checked="@(Model.SubCategoryIds != null ? SubCategoryList.Any(subcat => Model.SubCategoryIds.Contains(SubCategory.Id)) : false)" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="SubCategoryIds[]" value="@SubCategory.Id" />
                                        }
                                        @Html.Label(SubCategory.Name)

                                    </div>
                                </div>
                            }
                        }
                        <div class="clearfix"></div>
                        
                        <div class="col-md-12">
                            <div class="form-group">

                                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                                <div class="clearfix"></div>
                                @Html.TextAreaFor(model => model.Description, 3, 0, new { @class = "form-control", @placeholder = "Offer Description" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.Image, new { type = "file", @class = "form-control", @required = true, @onchange = "validateOfferImage(this)" })
                                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })

                            </div>
                        </div>
                                <div class="clearfix"></div>
                                <div class="col-md-offset-3 col-md-3">
                                    <input type="submit" value="Save" class="btn btn-primary btn btn-block btn-primary" />
                                </div>
                                <div class="col-md-3">
                                    <input type="reset" value="Reset" class="btn btn-warning btn btn-block btn-primary" />
                                </div>
                                <div class="clearfix"></div>
                    }
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
@Scripts.Render("~/bundles/script/async/webapp/offer-add-form-validations")
