﻿@model DailyBasket.Warehouse.Core.Model.Purchase.PurchaseEntryModel
@{
    ViewBag.Title = "Add Purchase Product";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
    HttpCookie poModelCookie = null;
    if (HttpContext.Current.Request.Cookies["PoModelCookie"] != null)
    {
        poModelCookie = HttpContext.Current.Request.Cookies["PoModelCookie"];
    }
}

<section class="content-header text-center">
    <h1>Add Purchase Product</h1>
</section>
<!-- / Content Header (Page header) -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="clearfix"></div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Bill No.</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>@poModelCookie["BillNo"].ToString()</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Bill Date</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>@poModelCookie["BillDate"].ToString()</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Filling Date</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>@poModelCookie["FillingDate"].ToString()</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Vender Name</label>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <label>@poModelCookie["VendorName"].ToString()</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Bill Discount Amount</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label><i class="fa fa-inr"></i> @poModelCookie["BillDiscountAmount"].ToString()</label>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="form-group">
                                <label>Total Bill Amount</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" id="ReloadDiv">
                        <div class="form-group">
                            <div class="form-group">
                                <label id="TotalBAmount"><i class="fa fa-inr"></i> @poModelCookie["TotalBillAmount"].ToString()</label>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Total Products Added</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>@poModelCookie["ProductTotalCount"]</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Total Products Amount</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label id="TotalPAmount"><i class="fa fa-inr"></i> @poModelCookie["ProductTotalAmount"]</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr />
                    @if (TempData["Message"] != null)
                    {
                        <div class="col-lg-12 text-center">
                            <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                        </div>
                    }
                    @using (Html.BeginForm("AddPurchaseProduct", "PurchaseOrder", FormMethod.Post, htmlAttributes: new { @onsubmit = "return validatePop()" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("PurchaseOrderId", poModelCookie["PoId"].ToString())
                        @Html.Hidden("SubmitType", "Temperary")
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-group">

                                    @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @class = "control-label" })

                                    @Html.TextBox("SelectProductId", null, htmlAttributes: new { @class = "form-control", @required = true, @placeholder = "Select Product Name" })
                                    @Html.DropDownListFor(model => model.ProductId, ViewBag.ProductDdlList != null ? ViewBag.ProductDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "Select Product Name", htmlAttributes: new { @class = "form-control hide-form-field" })
                                    @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @type = "number", @class = "form-control", @placeholder = "Enter Product Quantity", @required = "true" } })
                                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PurchaseRate, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.PurchaseRate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Purchase Rate", @required = "true" } })
                                @Html.ValidationMessageFor(model => model.PurchaseRate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.MRP, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.MRP, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter MRP", @required = "true" } })
                                @Html.ValidationMessageFor(model => model.MRP, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.RackNo, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.RackNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Rack No.", @required = "true" } })
                                @Html.ValidationMessageFor(model => model.RackNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Remark", @rows = "2", @cols = "20" } })
                                    @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <hr />
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.OnlineSaleRate, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.OnlineSaleRate, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Online Sale Rate", @required = "true" } })
                                @Html.ValidationMessageFor(model => model.OnlineSaleRate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SaleRateA, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.SaleRateA, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Sale Rate A", @required = "true" } })
                                @Html.ValidationMessageFor(model => model.SaleRateA, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.SaleRateB, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.SaleRateB, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Sale Rate B", @required = "true" } })
                                @Html.ValidationMessageFor(model => model.SaleRateB, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <hr />
                        //Auto Generate Barcode CheckBox Design
                        <hr />
                        <div class="col-md-3">
                            <div class="form-group price-checkbox">
                                @Html.CheckBoxFor(model => model.AutoGenerateBarcode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.LabelFor(model => model.AutoGenerateBarcode, htmlAttributes: new { @class = "control-label" })
                                @Html.ValidationMessageFor(model => model.AutoGenerateBarcode, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductBarcodeId, htmlAttributes: new { @class = "control-label", @id = "PBarcodeId" })
                                @Html.EditorFor(model => model.ProductBarcodeId, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Product Barcode Id" } })
                                @Html.ValidationMessageFor(model => model.ProductBarcodeId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <hr />

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.BatchNo, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.BatchNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Batch No.", @required = true } })
                                @Html.ValidationMessageFor(model => model.BatchNo, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ExpiryDate, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.ExpiryDate, new { htmlAttributes = new { @class = "form-control datepicker", @data_inputmask = "'alias':'dd-mm-yyyy'", @onchange = "validateExpiryDate()", @placeholder = "Enter Expiry Date" } })
                                @Html.ValidationMessageFor(model => model.ExpiryDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.PackagingDate, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.PackagingDate, new { htmlAttributes = new { @class = "form-control datepicker", @data_inputmask = "'alias':'dd-mm-yyyy'", @onchange = "validatePackagingDate();", @placeholder = "Enter Packaging Date" } })
                                @Html.ValidationMessageFor(model => model.PackagingDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="col-md-offset-3 col-md-2">
                            <input type="submit" name="submit" id="AddNextProduct" value="Add Next Product" class="btn btn-block btn-primary btn-info" />
                        </div>
                        <div class="col-md-2">
                            <input type="reset" value="Reset" class="btn btn-block btn-primary btn-warning" />
                        </div>
                        <div class="col-md-2">
                            <input type="submit" name="submit" id="SubmitOrder" value="Submit Order" class="btn btn-block btn-primary btn-success" />
                        </div>
                        <div class="clearfix"></div>
                    }
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>

@Scripts.Render("~/bundles/script/async/Purchase/purchase-sale-entry-validation")
@Scripts.Render("~/bundles/script/async/Purchase/pop-validatations-form")

<script>
    var jsonProductList = @Html.Raw(Json.Encode(@ViewBag.ProductDdlList));
    var isSaleRateExists = true; // To avoid Sale rate call
    $("form").submit(function(event) {
        validateTotalAmount();
    });
</script>





