﻿@model IEnumerable<DailyBasket.Warehouse.Core.Model.Purchase.PurchaseOrderModel>
@{
    ViewBag.Title = "Pending Purchase Entries";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header">
    <div class="col-sm-12 col-xs-12 text-center">
        <h1>
            Pending Purchase Entries
        </h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    @if (TempData["Message"] != null)
                    {
                        @*<div class="col-lg-12 text-center">
                             <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                        </div>*@
                        <script type="text/javascript">
                              window.onload = function () {
                              alert("@TempData["Message"].ToString()");
            };
                        </script>
                    }
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Sr. No</th>
                                <th>Bill No</th>
                                <th>Vendor Name</th>
                                <th>Bill Date</th>
                                <th>Filling Date</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                var index = 1;
                                foreach (var purchaseOrder in Model)
                                {

                                    <tr>
                                        <td>@(index++)</td>
                                        <td>@purchaseOrder.BillNo</td>
                                        <td>@purchaseOrder.VendorName</td>
                                        <td>@purchaseOrder.BillDate</td>
                                        <td>@purchaseOrder.FillingDate</td>

                                        <td class="text-center fontset">
                                            <a href="@Url.Action("ViewPendingPurchaseEntry", "PurchaseOrder", new { Area = "Purchase", @poId = purchaseOrder.Id })" class="fa fa-eye btn-xs btn-info" title="View"></a>
                                            <a href="@Url.Action("UpdatePendingPurchaseOrder", "PurchaseOrder", new { Area = "Purchase", @purchaseOrderId = purchaseOrder.Id })" class="fa fa-edit btn-xs btn-warning" title="Update"></a>
                                            <a class="fa fa-trash-o btn-xs btn-danger" title="Delete" id="deletePendingOrder" onclick="pendingProductOrder(@purchaseOrder.Id)"></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6"><label class="text-danger">No Record Found</label></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
@Scripts.Render("~/bundles/script/async/purchase/delete-pending-purchase-entry")
