﻿@model DailyBasket.Warehouse.Core.Model.Purchase.PurchaseOrderModel
@{
    ViewBag.Title = "Update Pending Purchase Order";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header text-center">
    <h1>Update Purchase Order</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="clearfix"></div>
                <div class="box-body">
                    @if (TempData["Message"] != null)
                    {
                        <div class="col-lg-12 text-center">
                            <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                        </div>
                    }
                    @using (Html.BeginForm("UpdatePendingPurchaseOrder", "PurchaseOrder", FormMethod.Post, htmlAttributes: new { @onsubmit = "return validateUpdatePendingOrder();" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.BillNo, htmlAttributes: new { @class = "control-label" })

                                @Html.EditorFor(model => model.BillNo, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Bill No. " } })
                                @Html.ValidationMessageFor(model => model.BillNo, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.LabelFor(model => model.BillDate, htmlAttributes: new { @class = "control-label col-md-4" })

                                @Html.EditorFor(model => model.BillDate, new { htmlAttributes = new { @class = "form-control datepicker", @data_inputmask = "'alias':'dd-mm-yyyy'", @onchange = "validateBillDate()", @placeholder = "Select Bill Date" } })
                                @Html.ValidationMessageFor(model => model.BillDate, "", new { @class = "text-danger" })
                            </div>
                        </div>


                            <div class="col-md-4">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FillingDate, htmlAttributes: new { @class = "control-label col-md-4" })

                                    @Html.EditorFor(model => model.FillingDate, new { htmlAttributes = new { @class = "form-control datepicker", @data_inputmask = "'alias':'dd-mm-yyyy'", @onchange = "validateFillDate()", @placeholder = "Enter Filling Date" } })
                                    @Html.ValidationMessageFor(model => model.FillingDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.VendorId, htmlAttributes: new { @class = "control-label col-md-4" })
                                    @Html.TextBox("SelectVendorId", Model.VendorName, htmlAttributes: new { @class = "form-control", @required = true, @placeholder = "Select Firm/Vendor Name" })
                                    @Html.DropDownListFor(model => model.VendorId, ViewBag.VendorDdlList != null ? ViewBag.VendorDdlList as SelectList : Enumerable.Empty<SelectListItem>(), "Select Firm/Vendor Name", htmlAttributes: new { @class = "form-control hide-form-field" })
                                    @Html.ValidationMessageFor(model => model.VendorId, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TotalBillAmount, htmlAttributes: new { @class = "control-label col-md-4" })
                                    @Html.EditorFor(model => model.TotalBillAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Total Bill Amount", @onkeyup = "removeValidationMessage(this.id);" } })
                                    @Html.ValidationMessageFor(model => model.TotalBillAmount, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.BillDiscountAmount, htmlAttributes: new { @class = "control-label col-md-4" })
                                    @Html.EditorFor(model => model.BillDiscountAmount, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Bill Discount Amount" } })
                                    @Html.ValidationMessageFor(model => model.BillDiscountAmount, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="col-md-offset-4 col-md-2">
                                <input type="submit" value="Update" class="btn btn-block btn-primary" />
                            </div>
                            <div class="col-md-2">
                                <a href="@Url.Action("PendingPurchaseEntries", "PurchaseOrder", new { Area = "Purchase" })" class="btn btn-block btn-danger">Cancel</a>
                            </div>
                            <div class="clearfix"></div>
                    }
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>
@Scripts.Render("~/bundles/script/async/purchase/purchase-order-date-validations")
@*Scripts.Render("~/bundles/script/jQuery-2.2.0")*@
<script>
    var productTotalAmount = (@Model.TotalPurchaseAmount).toFixed();
    var jsonVendorList = @Html.Raw(Json.Encode(@ViewBag.VendorDdlList));
    var autoPopulateVendorList = new Array();


    $(document).ready(function () {
        debugger;
        $(jsonVendorList).each(function(index, vendor){
            autoPopulateVendorList.push(vendor.Text);
        });

        if($("#SelectVendorId").val() !== ''){
            var id = "";
            $(jsonVendorList).each(function(index, vendor){
                if(vendor.Text == $("#SelectVendorId").val()){
                    id = vendor.Value;
                }
            });
            $('#VendorId option:selected').removeAttr('selected');
            $("#VendorId option[value='"+id+"']").attr("selected", true);
            $("#VendorId").val(id);
        }

        $("#SelectVendorId").autocomplete({
            source: autoPopulateVendorList,

            change: function (event, ui) {
                debugger;
                if (!ui.item) {
                    this.value = '';
                    $('#VendorId option:selected').removeAttr('selected');
                    $("#VendorId option[value='']").attr("selected", true);
                }
                else
                {
                    var id = "";
                    $(jsonVendorList).each(function(index, vendor){
                        if(vendor.Text==ui.item.value){
                            id = vendor.Value;
                        }
                    });
                    $('#VendorId option:selected').removeAttr('selected');
                    $("#VendorId option[value='"+id+"']").attr("selected", true);
                    $("#VendorId").val(id);
                }
            }
        });
    });
</script>







