﻿@model DailyBasket.Warehouse.Areas.Purchase.Models.ViewModels.PurchaseOrderViewModel

@{
    ViewBag.Title = "Pending Purchase Entry";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header text-center">
    <h1>View Pending Purchase Entry</h1>
</section>
<!-- / Content Header (Page header) -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="clearfix"></div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Bill No.</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>@Model.BillNo</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Bill Date</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>@Model.BillDate</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Filling Date</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>@Model.FillingDate</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Vender Name</label>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <label>@Model.VendorName</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Bill Discount Amount</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label><i class="fa fa-inr"></i> @Model.BillDiscountAmount</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <div class="form-group">
                                <label>Total Bill Amount</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2" id="ReloadDiv">
                        <div class="form-group">
                            <div class="form-group">
                                <label id="TotalBAmount"><i class="fa fa-inr"></i> @Model.TotalBillAmount</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            @Html.TextBox("UpdatedBillAmount", null, htmlAttributes: new { @class = "form-control", @onkeyup = "ValidateTotalAmount();" })
                        </div>
                    </div>
                    <div class="col-md-1 col-md-2">
                        <input type="submit" class="btn btn-primary" value="Edit" id="EditBill" />
                        <input type="submit" class="btn btn-primary" value="Update" id="UpdateBill" />
                    </div>

                    <div class="clearfix"></div>
                     <div class="col-md-2">
                                 <div class="form-group">
                                     <label>Total Products Added</label>
                                 </div>
                             </div>
                            <div class="col-md-2">
                                 <div class="form-group">
                                     <label>@Model.TotalProductCount</label>
                                 </div>
                             </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Total Products Amount</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label id="TotalPAmount"><i class="fa fa-inr"></i> @Model.TotalProductAmount</label>
                            </div>
                        </div>
                    <div class="clearfix"></div>
                    <hr />
                    <div class="col-sm-2 col-xs-12 pull-right">
                        @Html.ActionLink("Add Product", "AddPurchaseProduct", "PurchaseOrder", new { Area = "Purchase", poId = Model.PurchaseOrderId }, new { @class = "btn btn-info pull-right" })
                    </div>
                    <!-- Main content -->
                    <section class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="box-body">
                                        <table id="example2" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Sr.No.</th>
                                                    <th>Product Name</th>
                                                    <th>Packaging Size</th>
                                                    <th>Purchase Rate</th>
                                                    <th>MRP</th>
                                                    <th>Total Amount</th>
                                                    <th>Rack No</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.purchaseProducts != null && Model.purchaseProducts.Any())
                                                {
                                                    var index = 1;
                                                    foreach (var Product in Model.purchaseProducts)
                                                    {

                                                        <tr>
                                                            <td>@(index++)</td>
                                                            <td>@Product.ProductName</td>
                                                            <td>@Product.Quantity @Product.QuantityType</td>

                                                            <td><i class="fa fa-inr"></i> @Product.PurchaseRate</td>
                                                            <td><i class="fa fa-inr"></i> @Product.MRP</td>
                                                            <td><i class="fa fa-inr"></i> @Product.TotalAmount</td>
                                                            <td>@Product.RackNo</td>
                                                            <td class="text-center fontset">
                                                                <!--a href="#" class="fa fa-eye btn-xs btn-info" title="View"></a-->
                                                                <a href="@Url.Action("UpdatePurchaseProduct", "PurchaseOrder", new { Area ="Purchase", poId = Model.PurchaseOrderId, @prodId = Product.ProductId, @poProdId = Product.Id, @spId = Product.StockProductId})" class="fa fa-edit btn-xs btn-warning" title="Update"></a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="8"><label class="text-danger">No Record Found</label></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->

                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </section>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>
<script src="~/scripts/jQuery-2.2.0.min.js"></script>
<script>
    var billDisAmount;
    var totalProductAmount;
    var textBillAmount;
    var totalAmount;
    var pOrderId;
    var prodId;
    $(document).ready(function () {
        debugger;
        pOrderId = @Request.QueryString["PoId"];
        // Assign values;
        totalProductAmount = @Model.TotalProductAmount;
        @*totalProductAmount = @Model.ProductTotalAmount;*@
        billDisAmount =  @Model.BillDiscountAmount;
        totalAmount = parseInt(totalProductAmount) + parseInt(billDisAmount);
        $("#UpdatedBillAmount").hide();
        $("#UpdateBill").hide();
        $("#BillDiscountAmount").hide();

        $("#EditBill").click(function () {
            //$("#sethide").hide();
            $("#EditBill").hide();
            $("#UpdatedBillAmount").show();
            $("#UpdateBill").show();
            $("#UpdateBill").prop('disabled', true);
        });

        $("#UpdateBill").click(function(){
            $.ajax({
                type: "POST",
                url: window.location.origin + '/WebApi/Purchase/UpdateBillAmount',
                dataType: 'json',
                data: {'updatedBillAmount': textBillAmount, 'purchaseOrderId': pOrderId},
                success: function (data) {
                    $("#UpdateBill").hide();
                    $("#EditBill").show();
                    $("#UpdatedBillAmount").hide();
                    $("#ReloadDiv").load(location.href + " #ReloadDiv>*", "");
                }
            });
        });
    });

    function ValidateTotalAmount()
    {
        debugger;
        textBillAmount = $("#UpdatedBillAmount").val();
        if (textBillAmount < totalAmount || textBillAmount < 1) {
            $("#UpdateBill").prop('disabled', true);
        }
        else{
            $("#UpdateBill").prop('disabled', false);
        }
    }
</script>