﻿@model IEnumerable<DailyBasket.Warehouse.Core.Model.Purchase.PurchaseOrderModel>
@{
    ViewBag.Title = "Purchase Orders";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header">
    <div class="col-sm-12 col-xs-12 text-center">
        <h1>
            Purchase Orders
        </h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Sr. No</th>
                                <th>Bill No</th>
                                <th>Vendor Name</th>
                                <th>Bill Date</th>
                                <th>Filling Date</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                var index = 1;
                                foreach (var purchaseOrder in Model)
                                {

                                    <tr>
                                        <td>@(index++)</td>
                                        <td>@purchaseOrder.BillNo</td>
                                        <td>@purchaseOrder.VendorName</td>
                                        <td>@purchaseOrder.BillDate</td>
                                        <td>@purchaseOrder.FillingDate</td>

                                        <td class="text-center fontset">
                                            <a href="@Url.Action("ViewPurchaseOrder", "PurchaseOrder", new { Area = "Purchase", @poId = purchaseOrder.Id })" class="fa fa-eye btn-xs btn-info" title="View"></a>
                                            <a href="#" class="fa fa-edit btn-xs btn-warning" title="Update"></a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="6"><label class="text-danger">No Record Found</label></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
