﻿@model DailyBasket.Warehouse.Areas.Purchase.Models.ViewModels.PurchaseOrderViewModel

@{
    ViewBag.Title = "Purchase Order";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header text-center">
    <h1>Purchase Order</h1>
</section>
<!-- / Content Header (Page header) -->
<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <div class="box box-warning">
                <div class="clearfix"></div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Bill No.</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>@Model.BillNo</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Bill Date</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>@Model.BillDate</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Filling Date</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>@Model.FillingDate</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Vender Name</label>
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            <label>@Model.VendorName</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <br />
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Bill Discount Amount</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label><i class="fa fa-inr"></i> @Model.BillDiscountAmount</label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Total Bill Amount</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label><i class="fa fa-inr"></i> @Model.TotalBillAmount</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr />

                    <!-- Main content -->
                    <section class="content">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="box-body">
                                        <table id="example2" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Sr.No.</th>
                                                    <th>Product Name</th>
                                                    <th>Packaging Size</th>
                                                    <th>Purchase Rate</th>
                                                    <th>MRP</th>
                                                    <th>Total Amount</th>
                                                    <th>Rack No</th>
                                                    <th class="text-center">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.purchaseProducts != null && Model.purchaseProducts.Any())
                                                {
                                                    var index = 1;
                                                    foreach (var Product in Model.purchaseProducts)
                                                    {

                                                        <tr>
                                                            <td>@(index++)</td>
                                                            <td>@Product.ProductName</td>
                                                            <td>@Product.Quantity @Product.QuantityType</td>

                                                            <td><i class="fa fa-inr"></i> @Product.PurchaseRate</td>
                                                            <td><i class="fa fa-inr"></i> @Product.MRP</td>
                                                            <td><i class="fa fa-inr"></i> @Product.TotalAmount</td>
                                                            <td>@Product.RackNo</td>
                                                            <td class="text-center fontset">
                                                                <a href="#" class="fa fa-eye btn-xs btn-info" title="View"></a>
                                                                <a href="#" class="fa fa-edit btn-xs btn-warning" title="Update"></a>
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="8"><label class="text-danger">No Record Found</label></td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->

                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </section>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>
