﻿@model IEnumerable<DailyBasket.Warehouse.Areas.Users.Models.ViewModels.CustomerViewModel>

@{
    ViewBag.Title = "CustomerList";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header">
    <div class="col-sm-10 col-xs-12 text-center">
        <h1>
            Active Customers List
        </h1>
    </div>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Sr. No</th>
                                <th>User Name</th>
                                <th>Mobile No.</th>
                                <th>Email-Id</th>
                                <th>Referral Code</th>
                                <th>Referred Ref Code</th>
                                <th>GST INumber</th>
                                <th>Loyalty Points</th>
                                <!--th class="text-center">Action</th-->
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.Any())
                            {
                                var index = 1;
                                foreach (var customer in Model)
                                {

                                    <tr>
                                        <td>@(index++)</td>
                                        <td>@customer.Name</td>
                                        <td>@customer.Mobile</td>
                                        <td>@customer.Email</td>
                                        <td>@customer.ReferralCode</td>
                                        <td>@customer.RefReferralCode</td>
                                        <td>@customer.GSTIN</td>
                                        <td>@customer.LoyaltyPoints</td>
                                        <!--td class="text-center fontset">
                                            <a href="@*Url.Action("Update", "customer", new { Area = "Users", @userId = customer.Id })*@" class="fa fa-edit btn-xs btn-warning" title="Update"></a>
                                        </td-->
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="8"><label class="text-danger">No Record Found</label></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>



