﻿@model IEnumerable<DailyBasket.Warehouse.Core.Model.WebApp.SliderModel>
@using DailyBasket.Warehouse.Core.Enum;
@{
    ViewBag.Title = "UpdateWebSlider";
    Layout = "~/Views/Shared/_DailyBasketLayout.cshtml";
}

<section class="content-header text-center">
    <h1>Website Sliders</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            @if (TempData["Message"] != null)
            {
                <div class="col-lg-12 text-center">
                    <label class="@TempData["CssClass"].ToString()">@TempData["Message"].ToString()</label>
                </div>
            }
            <div class="box box-warning">
                <div class="clearfix"></div>

                @if (Model != null || Model.Any())
                {

                foreach (var slider in Model)
                {

                    <div class="form-group">
                        @using (Html.BeginForm("UpdateWebSlider", "Slider", FormMethod.Post, htmlAttributes: new { @enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="col-lg-4">
                                <div class="small-box bg-aqua">
                                    @Html.Hidden("SliderImageId", slider.SliderImageId)
                                    @Html.Hidden("SliderImagePath", slider.SliderImage)
                                    <button type="button" style="display:none;" class="closeBtn" onclick="closebtn('@(slider.SliderImageId)');" id="close@(slider.SliderImageId)" onclick="resetSlider('@(slider.SliderImageId)');">X</button>

                                    <img id='img@(slider.SliderImageId)' src='@(HttpContext.Current.Application["ImageAccessPath"].ToString() + slider.SliderImage)' class="img-responsive" style="min-height:131px;" />
                                    <div class="col-sm-7">
                                        <p id="edit@(slider.SliderImageId)" onclick="upBtnToggle('@(slider.SliderImageId)')" class="small-box-footer btn btn-sm btn-primary">
                                            Edit Slider&nbsp;&nbsp;&nbsp;&nbsp;
                                            <i class="fa fa-arrow-circle-right"></i>
                                        </p>
                                        <p style="display:none" id="save@(slider.SliderImageId)" class="small-box-footer  btn btn-sm btn-success">
                                            <button class="btn">Save Slider Image&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                            <i class="fa fa-floppy-o"></i>
                                        </p>
                                    </div>
                                    <div class="col-sm-5">
                                        <a href="@Url.Action("UpdateAndroidSliderStatus", "Slider", new { @sliderId = slider.SliderImageId, @status = slider.Status })" class="small-box-footer btn btn-block btn-warning">
                                            @(slider.Status == (uint)Status.Active ? "Deactivate" : "Activate" )
                                            &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-power-off"></i>
                                        </a>
                                    </div>
                                </div>
                                <hr />
                                <div class="upload-btn-wrapper up" id="up@(slider.SliderImageId)" style="display:none;">
                                    <input type="file" id="upip@(slider.SliderImageId)" name="SliderImage" onchange="validateAndroidSliderImage(this, '@(slider.SliderImageId)');" />
                                    <span id="errorspan@(slider.SliderImageId)" class="text-danger"></span>
                                </div>
                            </div>
                        }
                    </div>

                }

                <!-- /.box-body -->
                }
            </div>
            <!-- /.box -->

        </div>


        <!--/.col (right) -->
    </div>
    <!-- /.row -->
</section>

@Scripts.Render("~/bundles/script/async/webapp/slider/web-slider-validation")
