﻿@model DailyBasket.Warehouse.Core.Model.Login.LoginModel
@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5, Font Awesome, DailyBasket -->
    @Styles.Render("~/bundles/css/bootstrap", "~/bundles/css/fonts", "~/bundles/css/dailybasket")
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a><b>Daily</b>Baskets</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Sign in to start your session</p>
            @if (TempData["Message"] != null)
            {
                <div class="col-lg-12 text-center">
                    <label class="text-danger">@TempData["Message"].ToString()</label>
                </div>
            }
            <div>
                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()

                    <div class="form-group has-feedback">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @Placeholder = "Enter Email", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @Placeholder = "Enter Password", @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-xs-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                }
            </div>
            <br />
            <br />
            @Html.ActionLink("I forgot my password", "", null , new { @class = "text - center" })<br>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
    <!-- jQuery 2.2.0 -->
    @Scripts.Render("~/bundles/script/jquery", "~/bundles/script/bootstrap")
</body>
</html>
